@use "../foundation/base";
@use "../foundation/variable";
@use "../foundation/mixin";

.l-header{
	padding-top: 80px;
	height:300px;
	background-size:cover;
	background-position:center;
	@include mixin.breakpoint( breakpoint-sp ){
		height: auto;
	}
	&.c-wrapper {
		padding: 80px 11% 0;
	}
}

.l-front-header{
	position: relative;
	height: 100vh;
	width: 100%;
}
