@use "../foundation/base";
@use "../foundation/mixin";
@use "../foundation/variable";

/* メインコンテンツのスタイリング */
.l-main{
	padding: 100px 6% 100px;
}
.l-main--about{
	margin-top: 180px;
}
.l-main--information{
	margin-top: 60px;
}