<div class="c-background-icon__left--cloisonne">
</div>
<div class="c-background-icon__right--cloisonne">
</div>
<div class="c-background-icon__left--gentian">
</div>
<div class="c-background-icon__right--gentian">
</div>
