<div class="c-background-icon__left">
	<img class="c-background-icon--cloisonne" src="../raw/background-icon/monyou01.png">
</div>
<div class="c-background-icon__right">
	<img class="c-background-icon--cloisonne" src="../raw/background-icon/monyou01.png">
</div>
<div class="c-background-icon__left">
	<img class="c-background-icon--gentian" src="../raw/background-icon/monyou02.png">
</div>
<div class="c-background-icon__right">
	<img class="c-background-icon--gentian" src="../raw/background-icon/monyou02.png">
</div>
