

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/ress.css">
  <link media="all" rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <title>Preview Layout</title>
</head>

<body>
  <div class="c-background--dot">
    <h2 class="c-title">天然漆にこだわる</h2>
	<p>化学塗料、漆の吹付塗装の技術が進化している中でも、天然漆にこだわり手塗りの伝統の技法を大切にした漆本来の味わいやぬくもりのある物づくりをすることで日本人が忘れかけている伝統工芸の本筋を正すことが進化と考えています。</p>
</div>
<br><br>

<div class="c-background--wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 471.833">
        <path class="shape-fill" d="M-21832-16290.018s36.342,7.16,92.715,17.173c133.57,23.722,379.355,63.457,527.4,63.457,210.893,0,426.289-193.964,684.771-188.575s615.109,228.11,615.109,228.11v-471.833h-1920Z" transform="translate(21832 16641.686)"></path>
    </svg>
</div>
<br><br><br><br><br><br><br><br>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="../../js/index.js"></script>

</body>

</html>

