

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/ress.css">
  <link media="all" rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <title>Preview Layout</title>
</head>

<body>
  <a href="#" class="c-button--sns--youtube">
	<i class="fab fa-youtube"></i>
	<span class="c-title__profile">YouTube</span>
</a>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="../../js/index.js"></script>

</body>

</html>
