

<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/style.css">
  <title>Preview Layout</title>
  </head>
  <body>
    	<dl class="c-definition__list">
		<dt class="c-definition__term">定池隆志</dt>
		<dd class="c-definition__description">
			<p class="c-definition__item">1974</p>
			<p class="c-definition__item">金沢市生まれ</p>
		</dd>
		<dd class="c-definition__description">
			<p class="c-definition__item">1993</p>
			<p class="c-definition__item">石川県立工業高校　工芸科卒業</p>
		</dd>
		<dd class="c-definition__description">
			<p class="c-definition__item">1998</p>
			<p class="c-definition__item">石川県立輪島漆芸技術研修所卒業後　家業の漆工芸に就く</p>
		</dd>
		<dd class="c-definition__description">
			<p class="c-definition__item">2013</p>
			<p class="c-definition__item">富士山大鳥居(北口本宮富士浅間神社)の「神額」修繕(60年に1度の式年大修理事業)</p>
		</dd>
		<dd class="c-definition__description">
			<p class="c-definition__item">2015</p>
			<p class="c-definition__item">「正倉院展」限定、奈良国立博物館オリジナル漆ジュエリー制作</p>
		</dd>
		<dd class="c-definition__description">
			<p class="c-definition__item">2017</p>
			<p class="c-definition__item">金沢市希少伝統産業木工専門塾修了</p>
		</dd>
		<dd class="c-definition__description">
			<p class="c-definition__item">木工の作業場を構え、木地から一貫した漆工芸の制作を始める</p>
		</dd>
	</dl>

    <script src="../../js/index.js"></script>
  </body>
</html>
