

<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../css/style.css">
  <title>Preview Layout</title>
  </head>
  <body>
    <div class="c-pattern">
	<img class="c-pattern__layer--left" src="../raw/pattern/monyou01.png" alt="">
	<img class="c-pattern__image" src="../raw/pattern/20.jpg" alt="">
</div>
<div class="c-pattern">
	<img class="c-pattern__layer--right" src="../raw/pattern/monyou01.png" alt="">
	<img class="c-pattern__image" src="../raw/pattern/07.jpg" alt="">
</div>

    <script src="../../js/index.js"></script>
  </body>
</html>
