@forward './style.scss';
@use './foundation/variable';

//カスタムブロック 背景付きテキスト/画像
.wp-block-create-block-background-text.is-style-background-02{
	background-color: rgba(33,12,2,0.9);
}

//見出し
.is-style-c-title-large{
	@extend .c-title-large;
}

.is-style-c-title-small{
	@extend .c-title-small;
}

.is-style-c-title-small--center{
	@extend .c-title-small--center;
}

.is-style-c-title-noborder{
	@extend .c-title-noborder;
}

//段落
.is-style-c-text{
	@extend .c-text;
}
.is-style-c-text--large{
	@extend .c-text--large;
}
.is-style-c-text--white{
	@extend .c-text--white;
}

//グループ 階段
.is-style-p-contents-card-column{
	.wp-block-group__inner-container{
		@extend .p-contents-card-column;
	}
}

//お問い合わせフォーム
.smf-item{
	&__label__text{
		color:variable.$brown;
		font-weight: bold;
		font-size: 1.6rem;
	}
}
.smf-form .smf-item {
	input[type="text"].smf-text-control__control,
	input[type="email"].smf-text-control__control,
	input[type="tel"].smf-text-control__control,
	select.smf-select-control__control,
	textarea.smf-textarea-control__control{
		appearance: none; /*ブラウザ標準スタイルを無効にする*/
		border-color:variable.$midbrown;
		padding: 10px 20px;
		color:variable.$darkbrown;
	}
	select.smf-select-control__control{
		padding-right: 50px;
	}
	.smf-select-control .smf-select-control__toggle:before{
		appearance: none; /*ブラウザ標準スタイルを無効にする*/
		right: 1em;
		border-bottom: 2px solid #98A6B5;
		border-right: 2px solid #98A6B5;
	}
	input[type="text"].smf-text-control__control:focus,
	input[type="email"].smf-text-control__control:focus,
	input[type="tel"].smf-text-control__control:focus,
	select.smf-select-control__control:focus,
	textarea.smf-textarea-control__control:focus{
		border-color:variable.$primary;
	}
	select.smf-select-control__control:focus +.smf-select-control__toggle:before{
		border-color:#98A6B5;
	}
}
.smf-action {
	display: flex;
	.smf-button-control {
		.smf-button-control__control{
			appearance: none; /*ブラウザ標準スタイルを無効にする*/
			background-image:none;
			@extend .c-button--primary;
			@extend .c-button--primary--text;
			display: block;
		}
	}
}
