	<p class="c-text--white">うるしときはオーダーメイドにも対応しています。
		「この色のこの形」「このピアスのもっと大きいもの」などを叶えるフルオーダーから、デザインを持ち込んでいただき、「こんなのが欲しい」を元に制作するセルフオーダー。
		世界に一つの特別なものをお作りします。
		木地、素地から蒔絵まで一貫して制作しているため、細かいご要望にも沿うことができます。
		お気軽にお問い合わせください。</p>
