<figure class="p-post-card">
	<img class="p-post-card__image" src="../raw/post-card/4ぐい吞み.jpg" alt="">
	<figcaption class="p-post-card__text">
		<h2 class="p-post-card__text__title">指物と乾漆で素地から塗り蒔絵まで一貫した制作</h2>
		<p class="p-post-card__text__sentence">仏壇蒔絵や仏壇修理修繕を行いながら、素地(木地・乾漆)から塗り蒔絵まで一貫した取り組みで厨子や器、漆アクセサリーなどの漆工芸品の制作活動に力をいれオーダーメイドにも対応しています。今の時代に合ったデザインで伝統的な漆の良さを伝えます。</p>
		<time class="p-post-card__text__date">2021.08.20</time>
	</figcaption>
</figure>
