@charset "UTF-8";
/*
 * 文字カラー
 */
/*
 * 文字サイズ
 */
html {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f0e7db;
  font-size: 62.5%;
}

/* PCファースト */
.documentClass {
  color: blue;
}

.c-text {
  font-size: 1.6rem;
  color: #2E2E2E;
}
.c-text--white {
  font-size: 1.6rem;
  color: #ffffff;
}
.c-text--large {
  font-size: 2.4rem;
  color: #897C70;
  font-weight: bold;
}

.p-button__primary {
  background-color: #fff;
  font-family: "Times New Roman";
  border: 2px solid;
  border-color: #707070;
  width: 350px;
}
.p-button__primary:hover {
  background-color: #270b0b;
}
.p-button__primary:hover a {
  color: #fff;
}
.p-button__primary:hover a::before {
  background-color: #fff;
}
.p-button__primary:hover a::after {
  background-color: #fff;
}
.p-button__primary a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 30px 20px;
  width: 350px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
  text-decoration: none;
}
.p-button__primary a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.8em;
  transform: translateY(calc(-50% - 2px)) rotate(40deg);
  width: 32px;
  height: 2px;
  background-color: #707070;
}
.p-button__primary a:hover::before {
  background-color: #fff;
}
.p-button__primary a::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 1em;
  transform: translateY(-50%);
  width: 193px;
  height: 2px;
  background-color: #707070;
}
.p-button__primary a:hover::after {
  background-color: #fff;
}

#p-ripples-effect {
  /*波紋の基点とするためrelativeを指定*/
  position: relative;
  /*はみ出す波紋を隠す*/
  overflow: hidden;
}
#p-ripples-effect:hover {
  color: #fff;
}
#p-ripples-effect::after {
  content: "";
  /*絶対配置で波紋位置を決める*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*波紋の形状*/
  background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat 50%;
  transform: scale(10, 10);
  /*はじめは透過0に*/
  opacity: 0;
  color: #fff;
  /*アニメーションの設定*/
  transition: transform 0.3s, opacity 1s;
}
#p-ripples-effect:active::after {
  transform: scale(0, 0);
  transition: 0s;
  opacity: 0.3;
}

.c-button__profile {
  font-family: "Georgia", sans-serif;
  display: inline-block;
  position: relative;
  width: 124px;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #444;
  color: #fff !important;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 40px;
  cursor: pointer;
  text-align: center;
}
.c-button__profile .fab {
  height: 10px;
}
.c-button__profile:hover {
  text-decoration: none;
}

/* Instagramマウスホバー時 */
.c-button__profile.insta_button:hover {
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}

/* YouTubeマウスホバー時 */
.c-button__profile.youtube_button:hover {
  background: linear-gradient(135deg, #f5515f 0%, #c9293c 100%);
}

.c-direction__top {
  background-color: #fff;
  border: none;
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 50%;
  background: #270b0b;
}
.c-direction__top a {
  position: relative;
  display: block;
  height: 60px;
  text-decoration: none;
}
.c-direction__top a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f062";
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.c-openbutton {
  /*ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  position: relative;
  background: #270b0b;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border: 2px solid #333;
  border-radius: 50%;
}

/*ボタン内側*/
.c-openbutton .c-openbutton-area {
  transition: all 0.4s;
}

.c-openbutton span {
  display: inline-block;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 30px;
  top: 50;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 55%;
  transform: translateY(6px) rotate(-160deg);
}

.c-openbutton span:nth-of-type(1) {
  top: 30px;
}

.c-openbutton span:nth-of-type(2) {
  top: 50px;
}

.c-openbutton span:nth-of-type(3) {
  top: 70px;
}

/*activeクラスが付与されると
線と周りのエリアが回転して×になる*/
.c-openbutton.active .c-openbutton-area {
  transform: rotateY(-360deg);
}

.c-openbutton.active span:nth-of-type(1) {
  top: 50px;
  left: 25px;
  transform: translateY(6px) rotate(-135deg);
  width: 60%;
}

.c-openbutton.active span:nth-of-type(2) {
  opacity: 0;
}

.c-openbutton.active span:nth-of-type(3) {
  top: 60px;
  left: 25px;
  transform: translateY(-6px) rotate(135deg);
  width: 60%;
}

.c-tab {
  height: 10px;
  background-color: #fff;
  text-decoration: none;
  color: black;
  border: 2px solid #e0d7ca;
  border-radius: 30px;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
}

.c-button__before {
  text-align: left;
  padding-left: 44px;
}

.c-button__after {
  text-align: right;
}
.c-button__after i {
  margin-right: 20px;
}

.c-button__mix, .c-button__before, .c-button__after {
  width: 223px;
  height: 60px;
  display: inline-block;
  background-color: #fff;
  color: black;
  line-height: 55px;
  border: solid #707070;
  cursor: pointer;
  text-decoration: none;
}

/* --------------------------------------------------------
foundation
-------------------------------------------------------- */
/* --------------------------------------------------------

/* --------------------------------------------------------
layout
-------------------------------------------------------- */
/* --------------------------------------------------------
project
-------------------------------------------------------- */
/* --------------------------------------------------------
component
-------------------------------------------------------- */