<br><br>
<figure class="p-circle-card">
    <img class="p-circle-card__image" src="../raw/circle-card/3天然素材.jpg" alt="">
    <figcaption class="p-circle-card__text">
        <h3 class="c-title-noborder">天然素材</h3>
        <p class="c-text">安全な天然素材にこだわることで、安心しておしゃれを楽しんでいただけます。</p>
    </figcaption>
</figure>
<br><br><br>