<a class="c-sns--insta">
	<i class="fab fa-instagram"></i>
	<span class="c-sns__title">Instagram</span>
</a>
<br>
<a href="#" class="c-sns--youtube">
	<i class="fab fa-youtube"></i>
	<span class="c-sns__title">YouTube</span>
</a>
<br>
<a href="#" class="c-sns--facebook">
	<i class="fab fa-facebook-f"></i>
	<span class="c-sns__title">Facebook</span>
</a>
<br><br>
