<a class="c-sns--insta">
	<i class="fab fa-instagram"></i>
	<span class="c-title__profile">Instagram</span>
</a>
<br>
<a href="#" class="c-sns--youtube">
	<i class="fab fa-youtube"></i>
	<span class="c-title__profile">YouTube</span>
</a>
<br><br>
