@use "../../foundation/base";
@use "../../foundation/mixin";
@use "../../foundation/variable";

.c-sns {
	@include mixin.font-yumincho;
	width: 124px;
	height: 50px;
	font-size: 15px;
	border-radius: 5px;
	background-color: #252525;
	color: variable.$font-color--sub;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	text-align: center;
	line-height: 1;
	&.c-wrapper--pc {
		padding-right:variable.$wrapper-front;
		padding-left:variable.$wrapper-front;
	}
	&:hover {
		text-decoration: none;
	}
	&__title{
		font-size: variable.$font-size--title-sns;
	}
	.fab {
		font-size:2rem;
		margin-bottom: 3px;
	}
	/* YouTubeマウスホバー時 */
	&--youtube {
		@extend .c-sns;
		&:hover {
			background: linear-gradient(135deg, #f5515f 0%, #c9293c 100%);
		}
	}
	/* Instagramマウスホバー時 */
	&--insta {
		@extend .c-sns;
		&:hover {
			background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%)
				no-repeat;
			background: linear-gradient(135deg, #427eff 0%, #f13f79 70%)
				no-repeat;
		}
	}
	&--facebook{
		@extend .c-sns;
		&:hover{
			background: linear-gradient(135deg, #6092ff 0%, #3B5998 100%);
		}
	}
}
