<div class="p-contents-card-column">
	<dl class="p-contents-card">
		<dt class="p-contents-card__title">
			<h4 class="c-title-small--center">オーダーメイド</h4>
		</dt>
		<dd class="p-contents-card__text">
			<p class="c-text--white">
				うるしときはオーダーメイドにも対応しています。「この色のこの形」「このピアスのもっと大きいもの」などを叶えるフルオーダーから、デザインを持ち込んでいただき、「こんなのが欲しい」を元に制作するセルフオーダー。
				世界に一つの特別なものをお作りします。
			</p>
			<p class="c-text--white">
				木地、素地から蒔絵まで一貫して制作しているため、細かいご要望にも沿うことができます。お気軽にお問い合わせください。
			</p>
		</dd>
		<dd class="p-contents-card__image">
			<img src="../raw/contents-card/18.jpg" alt="">
		</dd>
	</dl>
	<dl class="p-contents-card">
		<dt class="p-contents-card__title">
			<h4 class="c-title-small--center">和装アクセサリー</h4>
		</dt>
		<dd class="p-contents-card__text">
			<p class="c-text--white">
				かんざしや帯留などの和装アクセサリーも取り扱っています。
				軽いかんざしは、髪にストレスなくお使いいただけます。
				また、成人式を迎える新成人の方に向けて、「一生に一度の晴れ舞台で周りに差をつけるアクセサリーを」を
				コンセプトにオーダーメイドでのご注文も承っております。
			</p>
		</dd>
		<dd class="p-contents-card__image">
			<img src="../raw/contents-card/23.jpg" alt="">
		</dd>
	</dl>
</div>
