@use "../../foundation/base.scss";
@use "../../foundation/variable.scss";
@use "../../foundation/mixin.scss";
@use "sass:math";

.p-article-card{
	width: 400px;
	height: 315px;
	position: relative;
	@include mixin.breakpoint( breakpoint-tab ){
        width: 100%;
    }
	&__image{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__title{
		position: absolute;
		bottom: math.div((70px - 42.5px),2);//余白(背景の高さ70pxから文字の高さ42.5pxを引いた値)の半分
		z-index: 1;
		width: 100%;
		text-align: center;
		color:#fff;
		@include mixin.font-yumincho;
		font-size: 2.0rem;
		@include mixin.breakpoint( breakpoint-sp ){
			margin-bottom: 12px;
		}

	}
	&::after{
		position: absolute;
		left: 0;
		bottom: 0;
		content: "";
		display: block;
		width: 100%;
		height: 70px;
		background-color:rgba($color: #3F2E1F, $alpha: .6);
		@include mixin.breakpoint( breakpoint-sp ){
			height: 60px;
		}
	}

}
