@use "../foundation/variables.scss";
@use "../foundation/base.scss";

.c-text{
	font-size: variables.$font-s;
	color:variables.$black;
	&--white{
		font-size: variables.$font-s;
		color:variables.$white;
	}
}
