@use "../../foundation/base";
@use "../../foundation/mixin";
@use "../../foundation/variables";

.c-text{
	font-size: variables.$font-size--basetext--medium;
	color:variables.$black;
	&--white{
		font-size: variables.$font-size--basetext--medium;
		color:variables.$white;
	}
	&--large{
		font-size: variables.$font-size--basetext--large;
		color:variables.$font-color--brown;
		font-weight: bold;
	}
}
