@use "../../foundation/base";
@use "../../foundation/mixin";
@use "../../foundation/variable";

.c-definition{
	width: 100%;
	color:variable.$font-color--definiton;

	&__title{
		font-size: variable.$font-size--definiton-term;
		padding-bottom: 30px;
		border-bottom:solid 2px variable.$border-color--definiton-term;
		@include mixin.font-yumincho;
	}
	&__detail{
		display: flex;
		margin-inline-start: 0px;
		border-bottom: solid 1px variable.$border-color--definiton-descripton;
		height: 60px;
		align-items: center;
		&__item{
			&:nth-last-child(2){
				width: 15%;
				text-align: center;
			}
			&:nth-child(2){
				width: 85%;
			}
			&:only-child{
				margin-left: 15%;
			}
		}
	}

	&--figcaption{
		margin:0px 40px;
		&__term{
			font-size: variable.$font-size--definiton--figcaption-term;
			color:variable.$font-color--definiton--figcaption-term;
		}
		&__description{
			font-size: variable.$font-size--definiton--figcaption-description;
			color:variable.$font-color--definiton--figcaption-description;
			line-height: 1.6;
		}
	}
}
