@use "../../foundation/base";
@use "../../foundation/variable";
@use "../../foundation/mixin";

.c-wrapper{
	padding-left : variable.$wrapper;
	padding-right: variable.$wrapper;
}
.c-wrapper--pc{
	padding-left : variable.$wrapper;
	padding-right: variable.$wrapper;
	@include mixin.breakpoint( breakpoint-tab ){
		padding-left : 0;
		padding-right: 0;
	}
}
.c-wrapper--tab{
	@include mixin.breakpoint( breakpoint-tab ){
		padding-left : variable.$wrapper;
		padding-right: variable.$wrapper;
	}
}
.c-wrapper--left{
	padding-left : variable.$wrapper;
	@include mixin.breakpoint( breakpoint-tab ){
		padding-left : 0;
	}
}
.c-wrapper--right{
	padding-right: variable.$wrapper;
	@include mixin.breakpoint( breakpoint-tab ){
		padding-right: 0;
	}
}
.c-wrapper--footer{
	display       : flex;
	flex-direction: column;
	padding-left  : variable.$wrapper;
	padding-right : variable.$wrapper;
	height        : inherit;
}
