.p-btn {
	appearance: none;
	padding: 0;
	border: none;
	outline: none;
	color: #000;
	font-size: 14px;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ",
		Meiryo, sans-serif;
	background: transparent;
	cursor: pointer;
	border: #000 1px solid;
	border-radius: 3px;
	padding: 5px 10px;

	&--typeA {
		color: #ffffff;
		background-color: #ff0000;
	}
	&--typeB {
		color: #ffffff;
		background-color: #0000ff;
	}
	&--typeC {
		color: #ffffff;
		background-color: #0000ff;
	}
}

.p-btn--primary {
	background-color: #fff;
	font-family: "Times New Roman";
	border: 2px solid;
	border-color: #707070;
	&:hover {
		background-color: #270b0b;
		a {
			color: #fff;
			&::before {
				background-color: #fff;
			}
			&::after {
				background-color: #fff;
			}
		}
	}
	a {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		margin: 0 auto;
		padding: 30px 20px;
		width: 350px;
		color: black;
		font-size: 18px;
		font-weight: 700;
		transition: 0.3s;
		text-decoration: none;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0.8em;
			transform: translateY(calc(-50% - 2px)) rotate(40deg);
			width: 32px;
			height: 2px;
			background-color: #707070;
		}
		&:hover::before {
			background-color: #fff;
		}
		&::after {
			content: "";
			position: absolute;
			top: 60%;
			right: 1em;
			transform: translateY(-50%);
			width: 193px;
			height: 2px;
			background-color: #707070;
		}
		&:hover::after {
			background-color: #fff;
		}
	}
}

.p-ripples-effect {
	/*波紋の基点とするためrelativeを指定*/
	position: relative;
	/*はみ出す波紋を隠す*/
	overflow: hidden;
	&:hover {
		color: #fff;
	}
	&::after {
		content: "";
		/*絶対配置で波紋位置を決める*/
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		/*波紋の形状*/
		background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat
			50%;
		transform: scale(10, 10);
		/*はじめは透過0に*/
		opacity: 0;
		color: #fff;
		/*アニメーションの設定*/
		transition: transform 0.3s, opacity 1s;
	}
	&:active::after {
		transform: scale(0, 0);
		transition: 0s;
		opacity: 0.3;
	}
}

.p-btn--cross {
	background-color: #fff;
	border: none;
	a {
		display: block;
		position: relative;
		width: 120px;
		height: 120px;
		border: 2px solid #333;
		border-radius: 50%;
		background: #270b0b;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 3px;
			height: 70px;
			background: #fff;
		}
		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.p-btn--stripe {
	background-color: #fff;
	border: none;
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
	border: 2px solid #333;
	border-radius: 50%;
	background: #270b0b;
	span,
	span:before,
	span:after {
		content: "";
		display: block;
		height: 3px;
		width: 70px;
		border-radius: 3px;
		background-color: #ffffff;
	}
	span {
		transform: translate(-50%, -50%) rotate(25deg);
		position: absolute;
		top: 50%;
		right: -10px;
	}
	span:before {
		bottom: 20px;
		position: absolute;
		right: 10px;
	}
	span:after {
		top: 20px;
		position: absolute;
		right: -15px;
	}
}

.c-button__profile {
	font-family: "Georgia", sans-serif;
	display: inline-block;
	position: relative;
	width: 124px;
	height: 50px;
	font-size: 23px;
	border-radius: 5px;
	background-color: #444;
	cursor: pointer;
	a {
		color: #fff !important;
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
	div {
		font-size: 15px;
	}
}

/* Instagramマウスホバー時 */
.c-button__profile.insta_btn:hover {
	background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%)
		no-repeat;
	background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}
/* YouTubeマウスホバー時 */
.c-button__profile.youtube_btn:hover {
	background: linear-gradient(135deg, #f5515f 0%, #c9293c 100%);
}
