<div class="c-pattern">
	<img class="c-pattern__layer--left" src="../raw/pattern/monyou02.png" alt="">
	<img class="c-pattern__image" src="../raw/pattern/20.jpg" alt="">
</div>
<div class="c-pattern">
	<img class="c-pattern__layer--right" src="../raw/pattern/monyou02.png" alt="">
	<img class="c-pattern__image" src="../raw/pattern/07.jpg" alt="">
</div>
