{{!-- <div class="c-pattern">
	<img class="c-pattern__layer--left" src="../raw/pattern/monyou02.png" alt="">
	<img class="c-pattern__image" src="../raw/pattern/20.jpg" alt="">
</div>
<div class="c-pattern">
	<img class="c-pattern__layer--right" src="../raw/pattern/monyou02.png" alt="">
	<img class="c-pattern__image" src="../raw/pattern/07.jpg" alt="">
</div> --}}


{{!-- <div class="c-pattern">
	<img class="c-pattern__image" src="../raw/pattern/20.jpg" alt="">
</div> --}}


<div class="c-pattern--lower-left">
	<img class="c-pattern--lower-left__image" src="../raw/pattern/top--urushi.jpg" alt="">
</div>

<br><br><br><br><br><br><br>
アクセサリー（左下レスポンシブSPまであり）
<div class="c-pattern--lower-left--nonsp">
	<img class="c-pattern--lower-left--nonsp__image" src="../raw/pattern/top--accessory.jpg" alt="">
</div>

<br><br><br><br><br><br><br>
金継ぎ・うるしと楽器（レイヤー右）
<div class="c-pattern--right">
	<img class="c-pattern--right__image" src="../raw/pattern/top--instrument.jpg" alt="">
</div>

<br><br><br><br><br><br><br>
うるしと生活（レイヤー左）
<div class="c-pattern--left">
	<img class="c-pattern--left__image" src="../raw/pattern/top--life.jpg" alt="">
</div>

<br><br><br><br><br><br><br>
