@use "../../foundation/base.scss";
@use "../../foundation/variable.scss";
@use "../../foundation/mixin.scss";

.p-article-card{
	width: 400px;
	height: 315px;
	position: relative;
	@include mixin.breakpoint( breakpoint-tab ){
        width: 100%;
    }
	&__image{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__title{
		position: absolute;
		z-index: 1;
		bottom: 0;
		height: 70px;
		width: 100%;
		line-height: 70px;
		padding-left: 28px;
		color:#fff;
	 	background-color:rgba($color: #3F2E1F, $alpha: .6);
		@include mixin.font-yumincho;
		font-size: 2.0rem;
		@include mixin.breakpoint( breakpoint-tab ){
			padding-left: 30px;
		}
		@include mixin.breakpoint( breakpoint-sp ){
			height: 60px;
			line-height: 60px;
		}
	}
}
