@use "../../foundation/base.scss";
@use "../../foundation/variable.scss";
@use "../../foundation/mixin.scss";

/* うるしときについて */
.p-craftman{
	gap:60px;
	align-items: flex-start;
	@include mixin.breakpoint( breakpoint-sp ){
		flex-direction:column-reverse;
	}
	&:not(:nth-of-type(1)){
		margin-top:120px;
	}
}
.p-craftman__image{
	width:42%;
	& > img{
		width:100%;
		height:100%;
	}
	@include mixin.breakpoint( breakpoint-sp ){
		width:100%;
	}
}
.p-craftman__information{
	width:53%;
	@include mixin.breakpoint( breakpoint-sp ){
		width:100%;
	}
}

.p-craftman__information__name{
	display: flex;
	justify-content:space-between;
	@include mixin.breakpoint( breakpoint-tab ){
		display: block;
	}
	&__detail{
		font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
		font-weight: bold;
		font-size: 2rem;

	}
}


