@charset "UTF-8";
/***** variable *****/
/* color-code */
/* 背景 */
/* テキスト */
/* 罫線 */
html {
  font-size: 62.5%;
}

body {
  background-color: #F0E7DB;
  font-size: 1.6rem;
  line-height: 2.125;
  font-weight: 400;
  font-family: "Noto Sans Japanese", sans-serif;
}

/* PCファースト */
.documentClass {
  color: blue;
}

.c-bullet {
  list-style: none;
}
.c-bullet__item {
  line-height: 2.8;
}
.c-bullet__item::before {
  display: inline-block;
  content: "";
  margin: 17px 10px 0 0;
  width: 8px;
  height: 8px;
  vertical-align: top;
  border-radius: 5px;
  background-color: #897C70;
}
.c-bullet__item:last-child {
  margin-bottom: 0;
}

/* --------------------------------------------------------
foundation
-------------------------------------------------------- */
/* --------------------------------------------------------
layout
-------------------------------------------------------- */
/* --------------------------------------------------------
project
-------------------------------------------------------- */
/* --------------------------------------------------------
component
-------------------------------------------------------- */