@charset "UTF-8";
/***** variable *****/
/* --------------------------------------------------------
    color-code
-------------------------------------------------------- */
/* 背景 */
/* テキスト */
/* 罫線 */
/* --------------------------------------------------------
    文字の太さ
-------------------------------------------------------- */
/* --------------------------------------------------------
    文字のサイズ
-------------------------------------------------------- */
/* ベース */
/* 見出し */
/*
 * 文字カラー
 */
/*
 * 文字サイズ
 */
/*
 *	postCard
 */
/*
 *	product-card
 */
/*
 *	content-card
 */
/*
*	shopCard
*/
html {
  background-color: #F0E7DB;
  font-size: 62.5%;
}

body {
  min-width: 375px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Noto Sans Japanese", sans-serif;
  line-height: 2.125;
}

a {
  text-decoration: none;
}

/* ブレイクポイント・PCファースト */
/* 游明朝の指定 */
.p-article-card, .p-article-card--wide {
  width: 400px;
  height: 315px;
  position: relative;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-article-card, .p-article-card--wide {
    width: 100%;
  }
}
.p-article-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-article-card__title, .p-article-card__title--wide {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 70px;
  width: 100%;
  line-height: 70px;
  padding-left: 28px;
  color: #fff;
  background-color: rgba(63, 46, 31, 0.6);
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 2rem;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-article-card__title, .p-article-card__title--wide {
    padding-left: 30px;
  }
}
@media (max-width: 599px) {
  .p-article-card__title, .p-article-card__title--wide {
    height: 60px;
    line-height: 60px;
  }
}
.p-article-card__title--wide {
  height: 105px;
  line-height: 105px;
}
.p-circle-card {
  width: 100%;
  max-width: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-circle-card .p-circle-card__image {
  width: 100%;
  max-width: 345px;
}
.p-circle-card .p-circle-card__text {
  margin-top: 25px;
  width: 100%;
  max-width: 340px;
}
.p-circle-card .p-circle-card__text .c-text, .p-circle-card .p-circle-card__text .is-style-c-text {
  margin-top: 30px;
}

.p-contents-card {
  background-color: #210C02;
  overflow: hidden;
  height: 100%;
  padding-top: min(116px, 15%);
  padding-bottom: min(160px, 10%);
  padding-right: 8%;
  padding-left: 8%;
}
.p-contents-card__title {
  max-width: 640px;
  margin: auto;
}
.p-contents-card__text {
  margin: 60px 0;
}
.p-contents-card__image {
  height: 180px;
  overflow: hidden;
}
.p-contents-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-contents-card-column, .is-style-p-contents-card-column .wp-block-group__inner-container {
  display: flex;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-contents-card-column, .is-style-p-contents-card-column .wp-block-group__inner-container {
    display: block;
  }
}
.p-contents-card-column .p-contents-card, .is-style-p-contents-card-column .wp-block-group__inner-container .p-contents-card {
  width: 50%;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-contents-card-column .p-contents-card, .is-style-p-contents-card-column .wp-block-group__inner-container .p-contents-card {
    width: 100%;
  }
}
.p-contents-card-column .p-contents-card:nth-of-type(2), .is-style-p-contents-card-column .wp-block-group__inner-container .p-contents-card:nth-of-type(2) {
  background-color: rgba(33, 12, 2, 0.9);
  transform: translateY(120px);
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-contents-card-column .p-contents-card:nth-of-type(2), .is-style-p-contents-card-column .wp-block-group__inner-container .p-contents-card:nth-of-type(2) {
    transform: translateY(0px);
  }
}

.p-gnavi .c-button--open {
  top: 60px;
  left: 60px;
  position: fixed;
  z-index: 1000;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-gnavi .c-button--open {
    top: 30px;
    left: 30px;
  }
}

.p-menu {
  position: fixed;
  z-index: 300;
  top: 0;
  left: -100%;
  padding: 150px 0 150px 60px;
  width: 90%;
  height: 100vh;
  transition: all 0.5s;
  background: url(../assets/image/menu-background.jpg) no-repeat 0 -120px;
  overflow-y: scroll;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-menu {
    width: 88.72%;
    height: 100%;
    background-position: 70% 0;
  }
}
@media (max-width: 599px) {
  .p-menu {
    min-width: 320px;
    width: 100%;
    padding-top: 120px;
    background-size: cover;
  }
}
.p-menu.active {
  left: 0;
}
.p-menu.active .p-menu__list {
  margin-left: 60px;
}
.p-menu__logo {
  margin-left: 60px;
}
.p-menu__list {
  margin: 30px 0 60px;
  width: auto;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-menu__list {
    margin-bottom: 30px;
  }
}
.p-menu__list__item {
  position: relative;
  display: block;
  list-style: none;
  margin-bottom: 10px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-menu__list__item {
    margin-bottom: 30px;
  }
}
.p-menu__list__item__link {
  display: block;
  width: 420px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-menu__list__item__link {
    width: inherit;
  }
}
.p-menu__list__item__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-menu__list__item__link:hover {
    background-color: inherit;
    transition: inherit;
  }
}
.p-menu__list__item__link::after {
  content: attr(title) "";
  position: absolute;
  top: 3px;
  left: 200px;
  color: #BF9A87;
  font-size: 1.4rem;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-menu__list__item__link::after {
    left: 0;
    top: 23px;
  }
}
.p-menu .c-button--inquiry--menu-inner {
  margin-left: 60px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-menu .c-button--inquiry--menu-inner {
    margin-top: 30px;
  }
}

body::before {
  content: "";
  background-color: transparent;
  transition: all 0.5s;
}
body.active {
  position: relative;
  overflow-y: hidden;
}
body.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45);
  z-index: 200;
}

.p-post-card {
  width: 305px;
  height: 353px;
  display: flex;
  flex-direction: column;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-post-card {
    flex-direction: row;
    width: 100%;
    height: 120px;
  }
}
.p-post-card__image {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-post-card__image {
    width: 120px;
    height: 100%;
  }
}
.p-post-card__text {
  width: 100%;
  height: 173px;
  background-color: #FFF;
  padding: 40px 54px 29px 40px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-post-card__text {
    width: calc(100% - 120px);
    height: 100%;
    padding: 10px 30px;
  }
}
@media (max-width: 599px) {
  .p-post-card__text {
    padding: 8px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.p-post-card__text__title {
  font-size: 1.6rem;
  color: #2E2E2E;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.p-post-card__text__sentence {
  font-size: 1.3rem;
  color: #BFAD9C;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-post-card__text__sentence {
    display: none;
  }
}
.p-post-card__text__date {
  font-size: 1.4rem;
  color: #2E2E2E;
  font-weight: bold;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-post-card__text__date {
    display: inline-block;
    margin-top: 9px;
  }
}

.c-title, .c-title--header {
  position: relative;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #252525;
  width: 100%;
  padding-bottom: 10px;
  /* レスポンシブ（タイトルとの余白） */
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
  border-bottom: solid 4px #fff;
  /* Englishタイトル */
  /* 罫線のアクセントカラー設定 */
}
@media (max-width: 1024px) {
  .c-title, .c-title--header {
    padding-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .c-title, .c-title--header {
    padding-bottom: 15px;
  }
}
.c-title--header::before {
  content: attr(title-english);
  display: block;
  font-size: 1.4rem;
  margin-bottom: 50px;
}
.c-title::after, .c-title--header::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: solid 4px #897C70;
  width: 42px;
  padding-top: 10px;
  /* レスポンシブ（タイトルとの余白） */
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-title::after, .c-title--header::after {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .c-title::after, .c-title--header::after {
    padding-top: 15px;
  }
}

.c-title-large, .is-style-c-title-large {
  position: relative;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #252525;
  width: 100%;
  padding-bottom: 46px;
  border-bottom: solid 4px #fff;
  /* 罫線のアクセントカラー設定 */
}
.c-title-large::after, .is-style-c-title-large::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: solid 4px #897C70;
  width: 42px;
  padding-top: 46px;
}

.c-title-small, .is-style-c-title-small, .c-definition--shop-card__title {
  position: relative;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 2rem;
  color: #252525;
  /* 罫線 */
}
.c-title-small::after, .is-style-c-title-small::after, .c-definition--shop-card__title::after {
  content: "";
  display: block;
  border-bottom: solid 3px #fff;
  width: 80px;
  margin-top: 30px;
  /* レスポンシブ（タイトルとの余白） */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-title-small::after, .is-style-c-title-small::after, .c-definition--shop-card__title::after {
    margin-top: 20px;
  }
}

.c-title-small--center, .is-style-c-title-small--center {
  position: relative;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  /* 罫線 */
}
.c-title-small--center::after, .is-style-c-title-small--center::after {
  content: "";
  display: block;
  margin: auto;
  border-bottom: solid 3px #fff;
  width: 80px;
  margin-top: 44px;
}

.c-title-noborder, .is-style-c-title-noborder {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #897C70;
}

.p-price-card {
  width: 400px;
  height: 315px;
  position: relative;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-price-card {
    width: 100%;
  }
}
.p-price-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-price-card__price {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 41px;
  width: 100%;
  line-height: 41px;
  padding-right: 10px;
  text-align: right;
  color: #fff;
  background-color: rgba(63, 46, 31, 0.6);
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.p-product-card {
  height: 350px;
  background-color: #fff;
}
.p-product-card__image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-shop-card {
  background-color: #FFF;
  background-image: url("../production/images/monyou05.png");
  background-repeat: repeat;
  border: solid 10px #DED6CC;
  padding: 5% 5% 5% 7%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 300px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-shop-card {
    display: block;
  }
}
.p-shop-card::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}
.p-shop-card__wrap {
  z-index: 1;
}

.c-background-icon__left--cloisonne, .c-background-icon__left--gentian {
  transform: translateX(-35px);
  width: 600px;
  height: 250px;
  background: url("../production/images/monyou01.png") center;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-background-icon__left--cloisonne, .c-background-icon__left--gentian {
    transform: translateX(0px);
  }
}
.c-background-icon__left--gentian {
  background: url("../production/images/monyou02.png") center;
}
.c-background-icon__right--cloisonne, .c-background-icon__right--gentian {
  margin: 0 0 0 auto;
  width: 600px;
  height: 250px;
  background: url("../production/images/monyou01.png") center;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-background-icon__right--cloisonne, .c-background-icon__right--gentian {
    height: 350px;
    width: 865px;
  }
}
@media (max-width: 599px) {
  .c-background-icon__right--cloisonne, .c-background-icon__right--gentian {
    width: 100%;
  }
}
.c-background-icon__right--gentian {
  background: url("../production/images/monyou02.png") center;
}

.c-background--dot {
  background: url("../production/images/background-dot.png") repeat;
  background-attachment: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.c-background--wave {
  position: -webkit-sticky;
  /* Safariに対応する */
  position: fixed;
  /* 要素を固定/解除する */
  top: 0;
  /* 縦方向の閾値 */
  left: 0;
  /* 横方向の閾値 */
  z-index: -1;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #F0E7DB;
}
.c-background--wave .shape-fill {
  fill: #E0D7CA;
  opacity: 0.633;
}

.c-button--primary {
  display: inline-block;
  background-color: #fff;
  border: 2px solid;
  border-color: #707070;
  width: 350px;
  height: 80px;
  text-align: center;
  display: flex;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.c-button--primary .c-button--primary--text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  font-size: 16px;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-weight: bold;
}
.c-button--primary:hover {
  background-color: #270b0b;
  color: white;
}
.c-button--primary:hover .c-button--primary--line {
  color: #fff;
}
.c-button--primary:hover .c-button--primary--line::before {
  background-color: #fff;
}
.c-button--primary:hover .c-button--primary--line::after {
  background-color: #fff;
}
.c-button--primary .c-button--primary--line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 30px 20px;
  width: 350px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
  text-decoration: none;
}
.c-button--primary .c-button--primary--line::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.8em;
  transform: translateY(calc(-50% - 2px)) rotate(40deg);
  width: 32px;
  height: 2px;
  background-color: #707070;
}
.c-button--primary .c-button--primary--line:hover::before {
  background-color: #fff;
}
.c-button--primary .c-button--primary--line::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 1em;
  transform: translateY(-50%);
  width: 193px;
  height: 2px;
  background-color: #707070;
}
.c-button--primary .c-button--primary--line:hover::after {
  background-color: #fff;
}

#p-ripples--effect {
  /*波紋の基点とするためrelativeを指定*/
  position: relative;
  /*はみ出す波紋を隠す*/
  overflow: hidden;
}
#p-ripples--effect:hover {
  color: #fff;
}
#p-ripples--effect::after {
  content: "";
  /*絶対配置で波紋位置を決める*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*波紋の形状*/
  background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat 50%;
  transform: scale(10, 10);
  /*はじめは透過0に*/
  opacity: 0;
  color: #fff;
  /*アニメーションの設定*/
  transition: transform 0.3s, opacity 1s;
}
#p-ripples--effect:active::after {
  transform: scale(0, 0);
  transition: 0s;
  opacity: 0.3;
}

.c-button--direction__top {
  background-color: #fff;
  border: none;
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 50%;
  background: #270b0b;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.c-button--direction__top::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f062";
  font-size: 25px;
  color: #fff;
}

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.c-button--open {
  /*ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  position: relative;
  background: #270b0b;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 2px solid #270b0b;
  border-radius: 50%;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
/*ボタン内側*/
.c-button--open .c-button--open--area {
  transition: all 0.4s;
  width: 100%;
  height: 100%;
}

.c-button--open span {
  position: absolute;
  left: 22.5%;
  height: 2px;
  background: #fff;
  width: 55%;
  transform: rotate(-155deg);
  transition: all 0.4s;
  /*アニメーションの設定*/
  display: inline-block;
}
.c-button--open span:nth-of-type(2) {
  top: calc(50% - 1px);
  font-size: 0;
}
.c-button--open span:nth-of-type(1) {
  top: calc(30% - 1px);
}
.c-button--open span:nth-of-type(3) {
  top: calc(70% - 1px);
}

/*activeクラスが付与されると
線と周りのエリアが回転して×になる*/
.c-button--open.active .c-button--open--area {
  transform: rotateY(-360deg);
}

.c-button--open.active span:nth-of-type(2) {
  opacity: 0;
  transform: rotateY(-360deg);
}
.c-button--open.active span:nth-of-type(1), .c-button--open.active span:nth-of-type(3) {
  top: calc(50% - 3px);
  left: 20%;
  width: 60%;
}
.c-button--open.active span:nth-of-type(1) {
  transform: rotate(135deg);
}
.c-button--open.active span:nth-of-type(3) {
  transform: rotate(-135deg);
}

.c-button--inquiry--menu-inner {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
}

.c-bullet {
  list-style: none;
}
.c-bullet__item {
  line-height: 2.8;
}
.c-bullet__item::before {
  display: inline-block;
  content: "";
  margin: 17px 10px 0 0;
  width: 8px;
  height: 8px;
  vertical-align: top;
  border-radius: 5px;
  background-color: #897C70;
}
.c-bullet__item:last-child {
  margin-bottom: 0;
}

.c-grid, .c-grid--col4, .c-grid--col3 {
  display: grid;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-grid, .c-grid--col4, .c-grid--col3 {
    display: block;
  }
}
.c-grid__item, .c-grid--col4__item, .c-grid--col3__item {
  list-style-type: none;
}
.c-grid--col3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  box-sizing: border-box;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-grid--col3 {
    grid-template-columns: 1fr;
  }
}
.c-grid--col3__item {
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-grid--col3__item {
    margin-bottom: 20px;
  }
}
.c-grid--col4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  box-sizing: border-box;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-grid--col4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.c-grid--col4__item {
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-grid--col4__item {
    margin-bottom: 20px;
  }
}

.c-definition {
  width: 100%;
  color: #2E2E2E;
}
.c-definition__title {
  font-size: 2rem;
  padding-bottom: 30px;
  border-bottom: solid 2px #897C70;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
}
.c-definition__detail {
  display: flex;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  border-bottom: solid 1px #DDD4CD;
  min-height: 60px;
  align-items: center;
}
.c-definition__detail__item {
  padding: 13px 0;
}
.c-definition__detail__item:nth-last-child(2) {
  width: 15%;
  text-align: center;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-definition__detail__item:nth-last-child(2) {
    margin-right: 5%;
  }
}
.c-definition__detail__item:nth-child(2) {
  width: 85%;
}
.c-definition__detail__item:only-child {
  margin-left: 15%;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-definition__detail__item:only-child {
    margin-left: 20%;
  }
}
.c-definition--figcaption {
  margin: 0px 40px;
}
.c-definition--figcaption__term {
  font-size: 1.6rem;
  color: #202124;
}
.c-definition--figcaption__description {
  font-size: 1.2rem;
  color: #A6ADB4;
  line-height: 1.6;
}
.c-definition--shop-card__title {
  margin-bottom: 30px;
}
.c-definition--shop-card__title::after {
  margin-top: 27px;
  border-color: #897C70;
}
.c-definition--shop-card__link a {
  text-decoration: none;
  word-break: break-all;
}
.c-definition--shop-card__link img {
  width: 24px;
  height: 24px;
  transform: translateY(25%);
}
.c-definition--shop-card__text {
  position: relative;
}
.c-definition--shop-card__image {
  z-index: 1;
  /* tablet */
  /* SmartPhone */
}
.c-definition--shop-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .c-definition--shop-card__image {
    position: relative;
    transform: translateY(0);
    right: 0;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}

.c-pagination, .c-pagination--next, .c-pagination--previous {
  width: 223px;
  height: 60px;
  display: inline-block;
  background-color: #fff;
  color: black;
  line-height: 55px;
  border: solid #707070;
  cursor: pointer;
  text-decoration: none;
}
.c-pagination--previous {
  text-align: left;
  padding-left: 44px;
}
.c-pagination--next {
  text-align: right;
}
.c-pagination--next i {
  margin-right: 20px;
}

.c-pattern {
  position: relative;
  width: 980px;
  height: 380px;
  margin-top: 30px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-pattern {
    width: 100%;
    height: 310px;
  }
}
@media (max-width: 599px) {
  .c-pattern {
    height: 180px;
  }
}
.c-pattern__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-pattern__layer, .c-pattern__layer--right, .c-pattern__layer--left {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0px;
  z-index: 1;
  width: 621px;
  height: 488px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-pattern__layer, .c-pattern__layer--right, .c-pattern__layer--left {
    top: 140px;
    width: 437px;
    height: 350px;
  }
}
@media (max-width: 599px) {
  .c-pattern__layer, .c-pattern__layer--right, .c-pattern__layer--left {
    display: none;
  }
}
.c-pattern__layer--left {
  left: -300px;
}
.c-pattern__layer--right {
  right: -300px;
}

.c-tab {
  display: inline-block;
  background-color: #fff;
  text-decoration: none;
  color: black;
  border: 2px solid #e0d7ca;
  border-radius: 30px;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
}

.c-sns, .c-sns--facebook, .c-sns--insta, .c-sns--youtube {
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  width: 124px;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #252525;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  /* YouTubeマウスホバー時 */
  /* Instagramマウスホバー時 */
}
.c-sns:hover, .c-sns--facebook:hover, .c-sns--insta:hover, .c-sns--youtube:hover {
  text-decoration: none;
}
.c-sns__title {
  font-size: 1.6rem;
}
.c-sns .fab, .c-sns--facebook .fab, .c-sns--insta .fab, .c-sns--youtube .fab {
  font-size: 2rem;
  margin-bottom: 3px;
}
.c-sns--youtube:hover {
  background: linear-gradient(135deg, #f5515f 0%, #c9293c 100%);
}
.c-sns--insta:hover {
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}
.c-sns--facebook:hover {
  background: linear-gradient(135deg, #6092ff 0%, #3B5998 100%);
}

.c-text, .is-style-c-text {
  font-size: 1.6rem;
  color: #2E2E2E;
}
.c-text--white, .is-style-c-text--white {
  font-size: 1.6rem;
  color: #ffffff;
}
.c-text--large, .is-style-c-text--large {
  font-size: 2.4rem;
  color: #897C70;
  font-weight: bold;
}

.c-textbox, .c-textbox--sub, .c-textbox--main {
  font-size: 1.6rem;
  width: 100%;
}
.c-textbox--main {
  max-width: 680px;
  background-color: #F0E7DB;
  padding-top: min(50px, 7%);
  padding-bottom: min(26px, 4%);
  padding-right: 0;
  padding-left: min(40px, 5%);
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-textbox--main {
    padding-right: min(40px, 5%);
  }
}
.c-textbox--sub {
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  max-width: 640px;
  background-color: #270B0B;
  padding-top: min(60px, 9%);
  padding-bottom: min(50px, 8%);
  padding-right: min(60px, 9%);
  padding-left: min(60px, 9%);
}

.u-margin-top, .u-margin-top--tab {
  margin-top: 30px;
}
.u-margin-top--tab {
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .u-margin-top--tab {
    margin-top: 20px;
  }
}

.u-margin-top--small {
  margin-top: 20px;
}

.u-margin-top--large {
  margin-top: 60px;
}

.u-gap--40, .u-gap--40--tab20 {
  gap: 40px;
}
.u-gap--40--tab20 {
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .u-gap--40--tab20 {
    gap: 20px;
  }
}
.u-gap--53 {
  gap: 53px;
}

/* --------------------------------------------------------
foundation
-------------------------------------------------------- */
/* --------------------------------------------------------
layout
-------------------------------------------------------- */
/* --------------------------------------------------------
project
-------------------------------------------------------- */
/* --------------------------------------------------------
component
-------------------------------------------------------- */
/* --------------------------------------------------------
utility
-------------------------------------------------------- */
.wp-block-create-block-background-text.is-style-background-02 {
  background-color: rgba(33, 12, 2, 0.9);
}