@charset "UTF-8";
/***** variable *****/
/* --------------------------------------------------------
    color-code
-------------------------------------------------------- */
/* 背景 */
/* テキスト */
/* 罫線 */
/* --------------------------------------------------------
    文字の太さ
-------------------------------------------------------- */
/* --------------------------------------------------------
    文字のサイズ
-------------------------------------------------------- */
/* ベース */
/* 見出し */
/*
 * 文字カラー
 */
/*
 * 文字サイズ
 */
/*
 *	postCard
 */
/*
 *	product-card
 */
/*
 *	content-card
 */
/*
*	shopCard
*/
html {
  background-color: #F0E7DB;
  font-size: 62.5%;
}

body {
  min-width: 375px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Noto Sans Japanese", sans-serif;
  line-height: 2.125;
}

a {
  text-decoration: none;
}

/* ブレイクポイント・PCファースト */
/* 游明朝の指定 */
/*p-step-card破線の位置を指定するための関数*/
.l-header {
  padding-top: 140px;
  height: 420px;
  background-size: cover;
  background-position: center;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .l-header {
    height: auto;
  }
}

.l-front-header {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* メインコンテンツのスタイリング */
.l-main {
  padding-top: 140px;
  padding-bottom: 200px;
}

.l-main--about {
  margin-top: 478px;
}

.l-main--information {
  margin-top: 60px;
}

.p-accessory-archive {
  width: 100%;
}

.p-accessory-column-block img {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-article-card, .p-article-card--wide {
  width: 100%;
  height: 315px;
  position: relative;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-article-card, .p-article-card--wide {
    width: 100%;
  }
}
.p-article-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-article-card__title, .p-article-card__title--wide {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 70px;
  width: 100%;
  line-height: 70px;
  padding-left: 28px;
  color: #fff;
  background-color: rgba(63, 46, 31, 0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 2rem;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-article-card__title, .p-article-card__title--wide {
    padding-left: 30px;
  }
}
@media (max-width: 599px) {
  .p-article-card__title, .p-article-card__title--wide {
    height: 60px;
    line-height: 60px;
  }
}
.p-article-card__title--wide {
  height: 105px;
  line-height: 105px;
}
.p-circle-card {
  width: 100%;
  max-width: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-circle-card .p-circle-card__image {
  width: 100%;
  max-width: 345px;
}
.p-circle-card .p-circle-card__text {
  margin-top: 25px;
  width: 100%;
  max-width: 340px;
}
.p-circle-card .p-circle-card__text .c-text, .p-circle-card .p-circle-card__text .is-style-c-text {
  margin-top: 30px;
}

input[type=checkbox].p-contact__checkbox {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}
input[type=checkbox].p-contact__checkbox:hover {
  border-color: rgba(46, 46, 46, 0.5);
}
input[type=checkbox].p-contact__checkbox:checked {
  background-color: #252525;
  border: #252525;
}
input[type=checkbox].p-contact__checkbox::before {
  content: "";
  display: block;
  position: absolute;
  visibility: visible;
  border-color: #fff;
  border-bottom: 2px solid #fff;
  border-left: 0 solid #fff;
  border-right: 2px solid #fff;
  border-top: 0 solid #fff;
  height: 8px;
  left: calc(50% - 3px);
  margin: 0;
  top: calc(50% - 5px);
  transform: rotate(45deg);
  width: 6px;
}

.p-contact {
  display: flex;
  align-items: center;
}

.c-wrapper, .p-contents-card {
  padding-left: clamp(20px, 6%, 320px);
  padding-right: clamp(20px, 6%, 320px);
}

.c-wrapper--pc {
  padding-left: clamp(20px, 6%, 320px);
  padding-right: clamp(20px, 6%, 320px);
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-wrapper--pc {
    padding-left: 0;
    padding-right: 0;
  }
}

.c-wrapper--tab {
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-wrapper--tab {
    padding-left: clamp(20px, 6%, 320px);
    padding-right: clamp(20px, 6%, 320px);
  }
}

.c-wrapper--left {
  padding-left: clamp(20px, 6%, 320px);
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-wrapper--left {
    padding-left: 0;
  }
}

.c-wrapper--right {
  padding-right: clamp(20px, 6%, 320px);
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-wrapper--right {
    padding-right: 0;
  }
}

.c-wrapper--footer {
  display: flex;
  flex-direction: column;
  padding-left: clamp(20px, 6%, 320px);
  padding-right: clamp(20px, 6%, 320px);
  height: inherit;
}

.p-contents-card {
  background-color: #210C02;
  overflow: hidden;
  height: 100%;
  padding-top: min(116px, 15%);
  padding-bottom: min(160px, 10%);
}
.p-contents-card__title {
  max-width: 640px;
  margin: auto;
}
.p-contents-card__text {
  margin: 60px 0;
}
.p-contents-card__image {
  height: 180px;
  overflow: hidden;
}
.p-contents-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-contents-card-column, .is-style-p-contents-card-column .wp-block-group__inner-container {
  display: flex;
  margin-bottom: 180px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-contents-card-column, .is-style-p-contents-card-column .wp-block-group__inner-container {
    display: block;
  }
}
.p-contents-card-column .p-contents-card, .is-style-p-contents-card-column .wp-block-group__inner-container .p-contents-card {
  width: 50%;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-contents-card-column .p-contents-card, .is-style-p-contents-card-column .wp-block-group__inner-container .p-contents-card {
    width: 100%;
  }
}
.p-contents-card-column .p-contents-card:nth-of-type(2), .is-style-p-contents-card-column .wp-block-group__inner-container .p-contents-card:nth-of-type(2) {
  background-color: rgba(33, 12, 2, 0.9);
  margin-top: 120px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-contents-card-column .p-contents-card:nth-of-type(2), .is-style-p-contents-card-column .wp-block-group__inner-container .p-contents-card:nth-of-type(2) {
    margin-top: 20px;
  }
}

/* うるしときについて */
.p-craftman {
  gap: 60px;
  align-items: flex-start;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-craftman {
    flex-direction: column-reverse;
  }
}
.p-craftman:not(:nth-of-type(1)) {
  margin-top: 120px;
}

.p-craftman__image {
  width: 42%;
  /* tablet */
  /* SmartPhone */
}
.p-craftman__image > img {
  width: 100%;
  height: 100%;
}
@media (max-width: 599px) {
  .p-craftman__image {
    width: 100%;
  }
}

.p-craftman__information {
  width: 53%;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-craftman__information {
    width: 100%;
  }
}

.p-craftman__information__name {
  display: flex;
  justify-content: space-between;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-craftman__information__name {
    display: block;
  }
}
.p-craftman__information__name__detail {
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: bold;
  font-size: 2rem;
}

.p-footer {
  background: url(../assets/image/footer-background.jpg);
  background-size: cover;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-footer {
    background-position: 70% 0;
  }
}

.p-footer__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-footer__nav {
    flex-direction: column;
  }
}

.p-footer__contact {
  margin-top: 30px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-footer__contact {
    margin-top: -20px;
  }
}
@media (max-width: 599px) {
  .p-footer__contact {
    margin-top: 0px;
  }
}

.p-footer__contact__list {
  list-style: none;
  margin-bottom: 10px;
  width: 100%;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-footer__contact__list {
    width: 420px;
  }
}
.p-footer__contact__list * {
  padding-right: 10px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-footer__contact__list * {
    padding-right: 0;
  }
}
.p-footer__contact__list a {
  position: relative;
  display: block;
}
.p-footer__contact__list a::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 250px;
  height: 34px;
  background-color: transparent;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-footer__contact__list a::before {
    width: 440px;
  }
}
@media (max-width: 599px) {
  .p-footer__contact__list a::before {
    display: none;
  }
}
.p-footer__contact__list a:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-footer__contact__list a:hover::before {
    background-color: inherit;
    transition: inherit;
  }
}

.p-footer-logo {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-footer-logo {
    flex-direction: column;
    align-items: center;
  }
  .p-footer-logo__link {
    margin-bottom: 30px;
  }
}

.p-footer-logo__copyright {
  margin-top: auto;
}

/* 天然漆にこだわる */
.p-front-card--left {
  width: 100%;
  display: flex;
  padding-right: clamp(20px, 6%, 320px);
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-front-card--left {
    padding-right: 0;
    flex-direction: column;
  }
}

.p-front-card--left__pattern {
  position: relative;
  width: 60%;
  max-width: 800px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-front-card--left__pattern {
    width: 73%;
  }
}
@media (max-width: 599px) {
  .p-front-card--left__pattern {
    width: 100%;
    overflow: hidden;
  }
}
.p-front-card--left__pattern__layer {
  position: absolute;
  top: 50%;
  right: 50%;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-front-card--left__pattern__layer {
    top: 20%;
    right: 65%;
  }
}
@media (max-width: 599px) {
  .p-front-card--left__pattern__layer {
    top: 60%;
    right: 20%;
  }
}
.p-front-card--left__pattern__image1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 600px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-front-card--left__pattern__image1 {
    height: 460px;
  }
}
@media (max-width: 599px) {
  .p-front-card--left__pattern__image1 {
    height: 387px;
  }
}

.p-front-card--left__text {
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  width: 50%;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-front-card--left__text {
    width: 100%;
    padding-left: clamp(20px, 6%, 320px);
    padding-right: clamp(20px, 6%, 320px);
  }
}
@media (max-width: 599px) {
  .p-front-card--left__text {
    margin-top: 120px;
  }
}
.p-front-card--left__text__description {
  padding-bottom: 380px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-front-card--left__text__description {
    padding-bottom: 0;
  }
}
.p-front-card--left__text__image2 {
  position: absolute;
  height: 330px;
  left: -50px;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-front-card--left__text__image2 {
    width: 50%;
    height: 254px;
    top: 20px;
    bottom: auto;
    left: auto;
    right: 0;
    transform: translateY(-100%);
  }
}
@media (max-width: 599px) {
  .p-front-card--left__text__image2 {
    width: 90%;
    height: 167px;
    -o-object-position: 50% 20%;
       object-position: 50% 20%;
  }
}

/* 指物と乾漆で素地から塗り蒔絵まで一貫した制作 */
.p-front-card--right {
  position: relative;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-front-card--right {
    margin-top: 60px;
    flex-direction: column-reverse;
  }
}
.p-front-card--right__monyou {
  position: absolute;
  left: 0;
  top: 60%;
  z-index: -1;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-front-card--right__monyou {
    display: none;
  }
}

.p-front-card--right__text {
  padding-top: 40px;
  padding-right: 40px;
  width: 50%;
  min-width: 580px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-front-card--right__text {
    width: 100%;
    min-width: auto;
    padding-left: clamp(20px, 6%, 320px);
    padding-right: clamp(20px, 6%, 320px);
  }
}

.p-front-card--right__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 368px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-front-card--right__img {
    width: 100%;
    height: 337px;
  }
}
@media (max-width: 599px) {
  .p-front-card--right__img {
    height: 152px;
  }
}

.p-front-posts__archive {
  position: relative;
  z-index: 10;
}

.p-front-posts__monyou {
  position: absolute;
  top: 60%;
  right: -40%;
  z-index: -1;
}

.p-front-posts__monyou {
  position: absolute;
  top: 60%;
  left: -40%;
  z-index: -1;
}

/* Urushi Contents */
.p-urushi-contents {
  margin-top: 400px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-urushi-contents {
    margin-top: 120px;
  }
}

.p-urushi-content, .p-urushi-content--reverse {
  display: flex;
  justify-content: space-between;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-urushi-content, .p-urushi-content--reverse {
    flex-direction: column;
  }
}
.p-urushi-content--reverse {
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-urushi-content--reverse {
    flex-direction: column-reverse;
  }
}

.p-urushi-content__description-area {
  position: relative;
  width: 300px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-urushi-content__description-area {
    flex-direction: row;
    width: 100%;
  }
}
@media (max-width: 599px) {
  .p-urushi-content__description-area {
    flex-direction: column;
  }
}

.p-urushi-content__description-area__text--right {
  padding-top: 30px;
  padding-left: 25px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-urushi-content__description-area__text--right {
    width: 50%;
    padding-left: 0;
    padding-right: 25px;
  }
}
@media (max-width: 599px) {
  .p-urushi-content__description-area__text--right {
    width: 100%;
  }
}

.p-urushi-content__description-area__text--left {
  padding-top: 30px;
  padding-right: 25px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-urushi-content__description-area__text--left {
    width: 50%;
  }
}
@media (max-width: 599px) {
  .p-urushi-content__description-area__text--left {
    width: 100%;
  }
}

.p-urushi-content__description-area__button--right, .p-urushi-content__description-area__button--left {
  position: absolute;
  top: -15px;
  right: 50px;
  z-index: 1;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-urushi-content__description-area__button--right, .p-urushi-content__description-area__button--left {
    width: 50%;
    top: 80px;
    right: 0;
  }
}
@media (max-width: 599px) {
  .p-urushi-content__description-area__button--right, .p-urushi-content__description-area__button--left {
    width: 100%;
    top: 30px;
  }
}

.p-urushi-content__description-area__button--left {
  right: 0;
}

.p-gnavi .c-button--open {
  top: 60px;
  left: 60px;
  position: fixed;
  z-index: 1000;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-gnavi .c-button--open {
    top: 30px;
    left: 30px;
  }
}

/* --------------------------------------------------------
front-page以外
-------------------------------------------------------- */
.p-header {
  max-width: 640px;
  width: 100%;
  padding-bottom: 60px;
}

/* --------------------------------------------------------
front-page
-------------------------------------------------------- */
.p-header-video {
  position: relative;
  height: inherit;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: inherit;
  width: 100%;
  background: url("../assets/image/background-dot-black.png");
}

.p-header-wrap__title {
  display: flex;
  height: inherit;
  width: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: clamp(20px, 6%, 320px);
  padding-right: clamp(20px, 6%, 320px);
}
.p-header-wrap__title__description {
  text-align: center;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-header-wrap__title__description {
    width: 100%;
    max-width: 480px;
  }
}
@media (max-width: 599px) {
  .p-header-wrap__title__description {
    max-width: none;
    text-align: left;
  }
}

/* front-pageお問い合わせ */
.p-header-wrap__contact {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 20;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-header-wrap__contact {
    display: none;
  }
}
.p-header-wrap__contact--sp {
  display: none;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 20;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-header-wrap__contact--sp {
    display: inline;
  }
}

.p-header-monyou--left {
  position: absolute;
  z-index: 100;
  top: 60%;
  right: 50%;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-header-monyou--left {
    display: none;
  }
}

.p-header-monyou--right {
  position: absolute;
  z-index: 100;
  top: 60%;
  left: 80%;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-header-monyou--right {
    display: none;
  }
}

.p-header-arrow {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 50%;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-header-arrow {
    left: clamp(20px, (100vw - 1280px) / 2, 320px);
  }
}
@media (max-width: 599px) {
  .p-header-arrow {
    display: none;
  }
}

.p-information-archive {
  width: 100%;
}

.p-menu {
  position: fixed;
  z-index: 300;
  top: 0;
  left: -100%;
  padding: 150px 0 150px 60px;
  width: 90%;
  max-width: 1700px;
  height: 100vh;
  transition: all 0.5s;
  background: url(../assets/image/menu-background.jpg) no-repeat 0 -120px;
  overflow-y: scroll;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-menu {
    width: 88.72%;
    height: 100%;
    background-position: 70% 0;
  }
}
@media (max-width: 599px) {
  .p-menu {
    min-width: 320px;
    width: 100%;
    padding-top: 120px;
    background-size: cover;
  }
}
.p-menu.active {
  left: 0;
}
.p-menu.active .p-menu__list {
  margin-left: 60px;
}
.p-menu__logo {
  margin-left: 60px;
}
.p-menu__list {
  margin: 30px 0 60px;
  width: auto;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-menu__list {
    margin-bottom: 30px;
  }
}
.p-menu__list__item {
  position: relative;
  display: block;
  list-style: none;
  margin-bottom: 10px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-menu__list__item {
    margin-bottom: 30px;
  }
}
.p-menu__list__item__link {
  display: block;
  width: 420px;
  text-decoration: none;
  color: #fff;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-menu__list__item__link {
    width: inherit;
  }
}
.p-menu__list__item__link::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 440px;
  height: 34px;
  background-color: transparent;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-menu__list__item__link::before {
    display: none;
  }
}
.p-menu__list__item__link:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s;
}
.p-menu__list__item__link::after {
  content: attr(title) "";
  position: absolute;
  top: 3px;
  left: 200px;
  color: #BF9A87;
  font-size: 1.4rem;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-menu__list__item__link::after {
    left: 0px;
    top: 23px;
  }
}
.p-menu .c-button--inquiry--menu-inner {
  margin-left: 60px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-menu .c-button--inquiry--menu-inner {
    margin-top: 30px;
  }
}

body::before {
  content: "";
  background-color: transparent;
  transition: all 0.5s;
}
body.active {
  position: relative;
  overflow-y: hidden;
}
body.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45);
  z-index: 200;
}

/* ページネーション */
.p-pager {
  gap: clamp(10px, 100vw - 1000px, 50px);
}

/* tablet */
@media (max-width: 1024px) {
  .p-post > .p-pager {
    gap: 50%;
  }
}
/* SmartPhone */
.page-numbers {
  text-decoration: none;
  color: black;
  border: solid 0px;
  border-radius: 50%;
  width: clamp(30px, 100vw - 710px, 70px);
  height: clamp(30px, 100vw - 710px, 70px);
  background-color: #FFF;
  text-align: center;
  line-height: clamp(30px, 100vw - 710px, 70px);
  font-size: 16px;
}

.current {
  background-color: #270B0B;
  color: #FFF;
}

.page-numbers:not(.dots):hover {
  background-color: #270B0B;
  color: #FFF;
}

/* ページネーション */
.p-pager > a {
  text-decoration: none;
  color: #3B4043;
}

.p-pager__previous:before {
  text-decoration: none;
  color: black;
  border: solid 0px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #FFF;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  content: "<";
  display: inline-block;
  margin-right: 20px;
}

.p-pager__previous:hover:before {
  background-color: #270B0B;
  color: #FFF;
}

.p-pager__next:after {
  text-decoration: none;
  color: black;
  border: solid 0px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #FFF;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  content: ">";
  display: inline-block;
  margin-left: 20px;
}

.p-pager__next:hover:after {
  background-color: #270B0B;
  color: #FFF;
}

/* tablet */
@media (max-width: 1024px) {
  .p-pager__previous > span {
    display: none;
  }
}
/* SmartPhone */
/* tablet */
@media (max-width: 1024px) {
  .p-pager__next > span {
    display: none;
  }
}
/* SmartPhone */
.p-post-card {
  position: relative;
  width: 100%;
  height: 353px;
  display: flex;
  flex-direction: column;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-post-card {
    flex-direction: row;
    width: 100%;
    height: 120px;
  }
}
.p-post-card__image {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-post-card__image {
    width: 120px;
    height: 100%;
  }
}
.p-post-card__text {
  position: absolute;
  top: 180px;
  width: 100%;
  height: 173px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #FFF;
  padding: 40px 54px 29px 40px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-post-card__text {
    position: initial;
    width: calc(100% - 120px);
    height: 100%;
    padding: 10px 30px;
  }
}
@media (max-width: 599px) {
  .p-post-card__text {
    padding: 8px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.p-post-card__text__title {
  font-size: 1.6rem;
  color: #2E2E2E;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.p-post-card__text__sentence {
  font-size: 1.3rem;
  color: #BFAD9C;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-post-card__text__sentence {
    display: none;
  }
}
.p-post-card__text__date {
  font-size: 1.4rem;
  color: #2E2E2E;
  font-weight: bold;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-post-card__text__date {
    display: inline-block;
    margin-top: 9px;
  }
}

.p-post-archive {
  width: 100%;
  padding-top: 39px;
  padding-bottom: 39px;
}
.p-post-archive .c-grid--col3 {
  gap: 31px;
}
.p-post-archive .c-grid--col3__item {
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-post-archive .c-grid--col3__item {
    margin-bottom: 20px;
  }
}
.p-post-archive .c-grid--col3__item:last-child {
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-post-archive .c-grid--col3__item:last-child {
    margin-bottom: 0;
  }
}

.p-post-archive__tags {
  list-style: none;
  width: 30%;
  flex-wrap: wrap;
  gap: 10px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-post-archive__tags {
    width: 100%;
  }
}

.c-title, .c-title--header {
  position: relative;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #252525;
  width: 100%;
  padding-bottom: 10px;
  /* レスポンシブ（タイトルとの余白） */
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
  border-bottom: solid 4px #fff;
  /* Englishタイトル */
  /* 罫線のアクセントカラー設定 */
}
@media (max-width: 1024px) {
  .c-title, .c-title--header {
    padding-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .c-title, .c-title--header {
    padding-bottom: 15px;
  }
}
.c-title--header::before {
  content: attr(title-english);
  display: block;
  font-size: 1.4rem;
  margin-bottom: 50px;
}
.c-title::after, .c-title--header::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: solid 4px #897C70;
  width: 42px;
  padding-top: 10px;
  /* レスポンシブ（タイトルとの余白） */
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-title::after, .c-title--header::after {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .c-title::after, .c-title--header::after {
    padding-top: 15px;
  }
}

.c-title-large, .is-style-c-title-large {
  position: relative;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #252525;
  width: 100%;
  padding-bottom: 46px;
  border-bottom: solid 4px #fff;
  /* 罫線のアクセントカラー設定 */
}
.c-title-large::after, .is-style-c-title-large::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: solid 4px #897C70;
  width: 42px;
  padding-top: 46px;
}

.c-title-small, .is-style-c-title-small, .c-definition--shop-card__title {
  position: relative;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 2rem;
  color: #252525;
  /* 罫線 */
}
.c-title-small::after, .is-style-c-title-small::after, .c-definition--shop-card__title::after {
  content: "";
  display: block;
  border-bottom: solid 3px #fff;
  width: 80px;
  margin-top: 30px;
  /* レスポンシブ（タイトルとの余白） */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-title-small::after, .is-style-c-title-small::after, .c-definition--shop-card__title::after {
    margin-top: 20px;
  }
}

.c-title-small--center, .is-style-c-title-small--center {
  position: relative;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  /* 罫線 */
}
.c-title-small--center::after, .is-style-c-title-small--center::after {
  content: "";
  display: block;
  margin: auto;
  border-bottom: solid 3px #fff;
  width: 80px;
  margin-top: 44px;
}

.c-title-noborder, .is-style-c-title-noborder {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #897C70;
}

.p-price-card, .wp-block-gallery.columns-3.is-style-p-price-card ul figure {
  width: 400px;
  height: 315px;
  position: relative;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .p-price-card, .wp-block-gallery.columns-3.is-style-p-price-card ul figure {
    width: 100%;
  }
}
.p-price-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-price-card__price, .wp-block-gallery.columns-3.is-style-p-price-card ul figure figcaption.blocks-gallery-item__caption {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 41px;
  width: 100%;
  line-height: 41px;
  padding-right: 10px;
  text-align: right;
  color: #fff;
  background-color: rgba(63, 46, 31, 0.6);
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.p-product-card {
  height: 350px;
  background-color: #fff;
}
.p-product-card__image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-shop-card {
  background-color: #FFF;
  background-image: url("../production/images/monyou05.png");
  background-repeat: repeat;
  border: solid 10px #DED6CC;
  padding: 5% 5% 5% 7%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 300px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-shop-card {
    display: block;
  }
}
.p-shop-card::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}
.p-shop-card__wrap {
  z-index: 1;
}

.p-shop-card:not(:nth-of-type(1)) {
  margin-top: 20px;
}

.c-sns__margin {
  margin: 100px 0 100px 0;
}

.p-sns {
  display: flex;
  margin: 15px 0;
  gap: 20px;
}
.p-sns__introduction {
  margin-left: 40px;
  width: calc(100% - 124px - 40px);
  /* ボタンと余白以外をテキストの幅とする */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-sns__introduction {
    margin-left: 10px;
    width: calc(100% - 124px - 10px);
  }
}

.p-sns__introduction > .c-text--large, .p-sns__introduction > .is-style-c-text--large {
  font-size: 16px;
}

.p-step-card .wp-block-group__inner-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(1fr, 320px));
  justify-content: center;
  gap: 80px;
  grid-template-areas: ". . ." "p-step-card4 . p-step-card6";
  width: 100%;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
.p-step-card .wp-block-group__inner-container figure {
  position: relative;
}
.p-step-card .wp-block-group__inner-container figure img {
  height: auto;
}
.p-step-card .wp-block-group__inner-container figure:nth-child(1)::after {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  top: 100px;
  right: -110px;
  width: 150px;
  height: 150px;
  background-image: url("../assets/image/path1.png");
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-step-card .wp-block-group__inner-container figure:nth-child(1)::after {
    display: none;
  }
}
.p-step-card .wp-block-group__inner-container figure:nth-child(2) {
  margin-top: 235px;
}
.p-step-card .wp-block-group__inner-container figure:nth-child(2)::after {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  top: 70px;
  right: -115px;
  width: 150px;
  height: 150px;
  background-image: url("../assets/image/path1.png");
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-step-card .wp-block-group__inner-container figure:nth-child(2)::after {
    display: none;
  }
}
.p-step-card .wp-block-group__inner-container figure:nth-child(3) {
  margin-top: 335px;
}
.p-step-card .wp-block-group__inner-container figure:nth-child(4) {
  grid-area: p-step-card6;
}
.p-step-card .wp-block-group__inner-container figure:nth-child(4) ::after {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  top: -200px;
  right: -25px;
  width: 200px;
  height: 210px;
  background-image: url("../assets/image/path2.png");
}
.p-step-card .wp-block-group__inner-container figure:nth-child(5) {
  margin-top: 100px;
}
.p-step-card .wp-block-group__inner-container figure:nth-child(5) ::after {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  top: 0px;
  right: -110px;
  width: 150px;
  height: 150px;
  background-image: url("../assets/image/path3.png");
}
.p-step-card .wp-block-group__inner-container figure:nth-child(6) {
  grid-area: p-step-card4;
  margin-top: 200px;
}
.p-step-card .wp-block-group__inner-container figure:nth-child(6) ::after {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  top: 80px;
  right: -110px;
  width: 184px;
  height: 178px;
  background-image: url("../assets/image/path4.png");
}
@media (max-width: 1024px) {
  .p-step-card .wp-block-group__inner-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". . ." "p-step-card6 . p-step-card4";
    gap: 10px;
  }
}
@media (max-width: 599px) {
  .p-step-card .wp-block-group__inner-container {
    display: block;
  }
}
.p-step-card .wp-block-group__inner-container figure:nth-child(2), .p-step-card .wp-block-group__inner-container figure:nth-child(3), .p-step-card .wp-block-group__inner-container figure:nth-child(5), .p-step-card .wp-block-group__inner-container figure:nth-child(6) {
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-step-card .wp-block-group__inner-container figure:nth-child(2), .p-step-card .wp-block-group__inner-container figure:nth-child(3), .p-step-card .wp-block-group__inner-container figure:nth-child(5), .p-step-card .wp-block-group__inner-container figure:nth-child(6) {
    margin-top: 0px;
  }
}
.p-step-card .wp-block-group__inner-container figure:nth-child(1) ::after, .p-step-card .wp-block-group__inner-container figure:nth-child(2) ::after, .p-step-card .wp-block-group__inner-container figure:nth-child(4) ::after, .p-step-card .wp-block-group__inner-container figure:nth-child(5) ::after, .p-step-card .wp-block-group__inner-container figure:nth-child(6) ::after {
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .p-step-card .wp-block-group__inner-container figure:nth-child(1) ::after, .p-step-card .wp-block-group__inner-container figure:nth-child(2) ::after, .p-step-card .wp-block-group__inner-container figure:nth-child(4) ::after, .p-step-card .wp-block-group__inner-container figure:nth-child(5) ::after, .p-step-card .wp-block-group__inner-container figure:nth-child(6) ::after {
    display: none;
  }
}

.c-background-icon__left--cloisonne, .c-background-icon__left--gentian {
  transform: translateX(-35px);
  width: 600px;
  height: 250px;
  background: url("../production/images/monyou01.png") center;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-background-icon__left--cloisonne, .c-background-icon__left--gentian {
    transform: translateX(0px);
  }
}
.c-background-icon__left--gentian {
  background: url("../production/images/monyou02.png") center;
}
.c-background-icon__right--cloisonne, .c-background-icon__right--gentian {
  margin: 0 0 0 auto;
  width: 600px;
  height: 250px;
  background: url("../production/images/monyou01.png") center;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-background-icon__right--cloisonne, .c-background-icon__right--gentian {
    height: 350px;
    width: 865px;
  }
}
@media (max-width: 599px) {
  .c-background-icon__right--cloisonne, .c-background-icon__right--gentian {
    width: 100%;
  }
}
.c-background-icon__right--gentian {
  background: url("../production/images/monyou02.png") center;
}

.c-background--dot {
  background: url("../production/images/background-dot.png") repeat;
  background-attachment: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 200px 0;
}

.c-background--wave {
  position: -webkit-sticky;
  /* Safariに対応する */
  position: fixed;
  /* 要素を固定/解除する */
  top: 0;
  /* 縦方向の閾値 */
  left: 0;
  /* 横方向の閾値 */
  z-index: -1;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #F0E7DB;
}
.c-background--wave .shape-fill {
  fill: #E0D7CA;
  opacity: 0.633;
}

.c-body-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.c-bullet {
  list-style: none;
}
.c-bullet__item, .c-bullet li {
  line-height: 2.8;
}
.c-bullet__item::before, .c-bullet li::before {
  display: inline-block;
  content: "";
  margin: 17px 10px 0 0;
  width: 8px;
  height: 8px;
  vertical-align: top;
  border-radius: 5px;
  background-color: #897C70;
}
.c-bullet__item:last-child, .c-bullet li:last-child {
  margin-bottom: 0;
}

.c-button--primary, .smf-action .smf-button-control .smf-button-control__control {
  display: inline-block;
  background-color: #fff;
  border: 2px solid;
  border-color: #707070;
  width: 350px;
  height: 80px;
  text-align: center;
  display: flex;
  color: black;
  text-decoration: none;
  cursor: pointer;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-button--primary, .smf-action .smf-button-control .smf-button-control__control {
    width: 45%;
  }
}
@media (max-width: 599px) {
  .c-button--primary, .smf-action .smf-button-control .smf-button-control__control {
    width: 100%;
  }
}
.c-button--primary .c-button--primary--text, .smf-action .smf-button-control .smf-button-control__control .c-button--primary--text, .c-button--primary .smf-action .smf-button-control .smf-button-control__control, .smf-action .smf-button-control .c-button--primary .smf-button-control__control, .smf-action .smf-button-control .smf-button-control__control .smf-button-control__control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  font-size: 16px;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  font-weight: bold;
}
.c-button--primary:hover, .smf-action .smf-button-control .smf-button-control__control:hover {
  background-color: #270b0b;
  color: white;
}
.c-button--primary:hover .c-button--primary--line, .smf-action .smf-button-control .smf-button-control__control:hover .c-button--primary--line {
  color: #fff;
}
.c-button--primary:hover .c-button--primary--line::before, .smf-action .smf-button-control .smf-button-control__control:hover .c-button--primary--line::before {
  background-color: #fff;
}
.c-button--primary:hover .c-button--primary--line::after, .smf-action .smf-button-control .smf-button-control__control:hover .c-button--primary--line::after {
  background-color: #fff;
}
.c-button--primary .c-button--primary--line, .smf-action .smf-button-control .smf-button-control__control .c-button--primary--line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 30px 20px;
  width: 100%;
  color: black;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
  text-decoration: none;
}
.c-button--primary .c-button--primary--line::before, .smf-action .smf-button-control .smf-button-control__control .c-button--primary--line::before {
  content: "";
  position: absolute;
  top: 45%;
  right: 0.8em;
  transform: translateY(calc(-50% - 2px)) rotate(40deg);
  width: 32px;
  height: 2px;
  background-color: #707070;
}
.c-button--primary .c-button--primary--line:hover::before, .smf-action .smf-button-control .smf-button-control__control .c-button--primary--line:hover::before {
  background-color: #fff;
}
.c-button--primary .c-button--primary--line::after, .smf-action .smf-button-control .smf-button-control__control .c-button--primary--line::after {
  content: "";
  position: absolute;
  top: 55%;
  right: 1em;
  transform: translateY(-50%);
  width: 80%;
  height: 2px;
  background-color: #707070;
}
.c-button--primary .c-button--primary--line:hover::after, .smf-action .smf-button-control .smf-button-control__control .c-button--primary--line:hover::after {
  background-color: #fff;
}

#p-ripples--effect {
  /*波紋の基点とするためrelativeを指定*/
  position: relative;
  /*はみ出す波紋を隠す*/
  overflow: hidden;
}
#p-ripples--effect:hover {
  color: #fff;
}
#p-ripples--effect::after {
  content: "";
  /*絶対配置で波紋位置を決める*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*波紋の形状*/
  background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat 50%;
  transform: scale(10, 10);
  /*はじめは透過0に*/
  opacity: 0;
  color: #fff;
  /*アニメーションの設定*/
  transition: transform 0.3s, opacity 1s;
}
#p-ripples--effect:active::after {
  transform: scale(0, 0);
  transition: 0s;
  opacity: 0.3;
}

.c-button--direction__top {
  background-color: #fff;
  border: none;
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 50%;
  background: #270b0b;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.c-button--direction__top::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f062";
  font-size: 25px;
  color: #fff;
}

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.c-button--open {
  /*ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  position: relative;
  background: #270b0b;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 2px solid #270b0b;
  border-radius: 50%;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
/*ボタン内側*/
.c-button--open .c-button--open--area {
  transition: all 0.4s;
  width: 100%;
  height: 100%;
}

.c-button--open span {
  position: absolute;
  left: 22.5%;
  height: 2px;
  background: #fff;
  width: 55%;
  transform: rotate(-155deg);
  transition: all 0.4s;
  /*アニメーションの設定*/
  display: inline-block;
}
.c-button--open span:nth-of-type(2) {
  top: calc(50% - 1px);
  font-size: 0;
}
.c-button--open span:nth-of-type(1) {
  top: calc(30% - 1px);
}
.c-button--open span:nth-of-type(3) {
  top: calc(70% - 1px);
}

/*activeクラスが付与されると
線と周りのエリアが回転して×になる*/
.c-button--open.active .c-button--open--area {
  transform: rotateY(-360deg);
}

.c-button--open.active span:nth-of-type(2) {
  opacity: 0;
  transform: rotateY(-360deg);
}
.c-button--open.active span:nth-of-type(1), .c-button--open.active span:nth-of-type(3) {
  top: calc(50% - 3px);
  left: 20%;
  width: 60%;
}
.c-button--open.active span:nth-of-type(1) {
  transform: rotate(135deg);
}
.c-button--open.active span:nth-of-type(3) {
  transform: rotate(-135deg);
}

.c-button--inquiry--menu-inner {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
}

.c-definition {
  width: 100%;
  color: #2E2E2E;
  margin-bottom: 30px;
}
.c-definition__title {
  font-size: 2rem;
  padding-bottom: 30px;
  border-bottom: solid 2px #897C70;
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
}
.c-definition__detail {
  display: flex;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  border-bottom: solid 1px #DDD4CD;
  min-height: 60px;
  align-items: center;
}
.c-definition__detail__item {
  padding: 13px 0;
}
.c-definition__detail__item:nth-last-child(2) {
  width: 15%;
  text-align: center;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-definition__detail__item:nth-last-child(2) {
    margin-right: 5%;
  }
}
.c-definition__detail__item:nth-child(2) {
  width: 85%;
}
.c-definition__detail__item:only-child {
  margin-left: 15%;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-definition__detail__item:only-child {
    margin-left: 20%;
  }
}
.c-definition--figcaption {
  margin: 0px 40px;
  height: 100px;
}
.c-definition--figcaption__term {
  font-size: 1.6rem;
  color: #202124;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c-definition--figcaption__description {
  font-size: 1.2rem;
  color: #A6ADB4;
  line-height: 1.6;
  height: 38px;
  overflow: hidden;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-definition--figcaption__description {
    height: auto;
  }
}
.c-definition--shop-card__title {
  margin-bottom: 30px;
}
.c-definition--shop-card__title::after {
  margin-top: 27px;
  border-color: #897C70;
}
.c-definition--shop-card__link a {
  text-decoration: none;
  word-break: break-all;
}
.c-definition--shop-card__link img {
  width: 24px;
  height: 24px;
  transform: translateY(25%);
}
.c-definition--shop-card__text {
  position: relative;
}
.c-definition--shop-card__image {
  z-index: 1;
  /* tablet */
  /* SmartPhone */
}
.c-definition--shop-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .c-definition--shop-card__image {
    position: relative;
    transform: translateY(0);
    right: 0;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}

.c-flex {
  display: flex;
}

.c-flex--align-center {
  align-items: center;
}

/* tablet */
@media (max-width: 1024px) {
  :not(.p-accessory-archive) > .c-flex--column {
    flex-direction: column;
  }
}
/* SmartPhone */
.c-flex--center {
  justify-content: center;
  align-items: center;
}

.c-flex--wrap {
  flex-wrap: wrap;
}

.c-flex--space-between {
  justify-content: space-between;
}

.c-grid, .c-grid--col4, .c-grid--col4--tab1, .c-grid--col3 {
  display: grid;
  box-sizing: border-box;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-grid, .c-grid--col4, .c-grid--col4--tab1, .c-grid--col3 {
    display: block;
  }
}
.c-grid__item, .c-grid--col4__item, .c-grid--col4--tab1__item, .c-grid--col3__item {
  list-style-type: none;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-grid__item, .c-grid--col4__item, .c-grid--col4--tab1__item, .c-grid--col3__item {
    margin-bottom: 20px;
  }
  .c-grid__item:last-child, .c-grid--col4__item:last-child, .c-grid--col4--tab1__item:last-child, .c-grid--col3__item:last-child {
    margin-bottom: 0;
  }
}
.c-grid--col3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-grid--col3 {
    display: block;
  }
}
.c-grid--col3__item {
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
.c-grid--col3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  box-sizing: border-box;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-grid--col3 {
    grid-template-columns: 1fr;
  }
}
.c-grid--col3__item {
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .c-grid--col3__item {
    margin-bottom: 20px;
  }
}
.c-grid--col4, .c-grid--col4--tab1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-grid--col4, .c-grid--col4--tab1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.c-grid--col4--tab1 {
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-grid--col4--tab1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
.c-pagination, .c-pagination--next, .c-pagination--previous {
  width: 223px;
  height: 60px;
  display: inline-block;
  background-color: #fff;
  color: black;
  line-height: 55px;
  border: solid #707070;
  cursor: pointer;
  text-decoration: none;
}
.c-pagination--previous {
  text-align: left;
  padding-left: 44px;
}
.c-pagination--next {
  text-align: right;
}
.c-pagination--next i {
  margin-right: 20px;
}

.c-pattern {
  position: relative;
  width: calc(100% - 300px);
  height: 380px;
  margin-top: 30px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-pattern {
    width: 100%;
    height: 310px;
    overflow: hidden;
  }
}
@media (max-width: 599px) {
  .c-pattern {
    height: 180px;
  }
}
.c-pattern__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-pattern__layer, .c-pattern__layer--right, .c-pattern__layer--left {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0px;
  z-index: 1;
  width: 621px;
  height: 488px;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-pattern__layer, .c-pattern__layer--right, .c-pattern__layer--left {
    top: -100px;
  }
}
@media (max-width: 599px) {
  .c-pattern__layer, .c-pattern__layer--right, .c-pattern__layer--left {
    display: none;
  }
}
.c-pattern__layer--left {
  left: -300px;
}
.c-pattern__layer--right {
  right: -300px;
}

.c-tab {
  display: inline-block;
  background-color: #fff;
  text-decoration: none;
  color: black;
  border: 2px solid #e0d7ca;
  border-radius: 30px;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
}

.c-sns, .c-sns--facebook, .c-sns--insta, .c-sns--youtube {
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  width: 124px;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #252525;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  /* YouTubeマウスホバー時 */
  /* Instagramマウスホバー時 */
}
.c-sns:hover, .c-sns--facebook:hover, .c-sns--insta:hover, .c-sns--youtube:hover {
  text-decoration: none;
}
.c-sns__title {
  font-size: 1.6rem;
}
.c-sns .fab, .c-sns--facebook .fab, .c-sns--insta .fab, .c-sns--youtube .fab {
  font-size: 2rem;
  margin-bottom: 3px;
}
.c-sns--youtube:hover {
  background: linear-gradient(135deg, #f5515f 0%, #c9293c 100%);
}
.c-sns--insta:hover {
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}
.c-sns--facebook:hover {
  background: linear-gradient(135deg, #6092ff 0%, #3B5998 100%);
}

.c-text, .is-style-c-text {
  font-size: 1.6rem;
  color: #2E2E2E;
}
.c-text--white, .is-style-c-text--white {
  font-size: 1.6rem;
  color: #ffffff;
}
.c-text--large, .is-style-c-text--large {
  font-size: 2.4rem;
  color: #897C70;
  font-weight: bold;
}

.c-textbox, .c-textbox--sub, .c-textbox--main {
  font-size: 1.6rem;
  width: 100%;
}
.c-textbox--main {
  max-width: 680px;
  background-color: #F0E7DB;
  padding-top: min(50px, 7%);
  padding-bottom: min(26px, 4%);
  padding-right: 0;
  padding-left: min(40px, 5%);
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .c-textbox--main {
    padding-right: min(40px, 5%);
  }
}
.c-textbox--sub {
  font-family: "游明朝体", "Yu Mincho", "YuMincho", serif;
  font-weight: 400;
  max-width: 640px;
  background-color: #270B0B;
  padding-top: min(60px, 9%);
  padding-bottom: min(50px, 8%);
  padding-right: min(60px, 9%);
  padding-left: min(60px, 9%);
}

.u-margin-top, .u-margin-top--tab {
  margin-top: 30px;
}
.u-margin-top--tab {
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .u-margin-top--tab {
    margin-top: 20px;
  }
}

.u-margin-top--header {
  margin-top: 20px;
  display: inline-block;
  color: #000000;
  /* 文字の色 */
  text-shadow: 2px 2px 0px #ffffff, -2px 2px 0px #ffffff, 2px -2px 0px #ffffff, -2px -2px 0px #ffffff, 2px 0px 0px #ffffff, 0px 2px 0px #ffffff, -2px 0px 0px #ffffff, 0px -2px 0px #ffffff;
}

.u-margin-top--small {
  margin-top: 20px;
}

.u-margin-top--large {
  margin-top: 60px;
}

.u-margin-top--urushi-content {
  margin-top: 200px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .u-margin-top--urushi-content {
    margin-top: 120px;
  }
}

.u-margin--small {
  margin-bottom: 70px;
}

.u-margin-bottom {
  margin-bottom: 30px;
}

.u-margin-bottom--medium {
  margin-bottom: 100px;
}

.u-margin-bottom--large {
  margin-bottom: 200px;
}

.u-margin-left--auto {
  margin-left: auto;
}

.u-gap--20 {
  gap: 20px;
}
.u-gap--53 {
  gap: 53px;
}

/* --------------------------------------------------------
foundation
-------------------------------------------------------- */
/* --------------------------------------------------------
layout
-------------------------------------------------------- */
/* --------------------------------------------------------
project
-------------------------------------------------------- */
/* --------------------------------------------------------
component
-------------------------------------------------------- */
/* --------------------------------------------------------
utility
-------------------------------------------------------- */
.wp-block-create-block-background-text.is-style-background-02 {
  background-color: rgba(33, 12, 2, 0.9);
}

.is-style-p-contents-card-column {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.is-style-p-media-text.wp-block-media-text {
  grid-template-columns: 70% 30%;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .is-style-p-media-text.wp-block-media-text {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
  }
}
.is-style-p-media-text.wp-block-media-text .wp-block-media-text__media {
  grid-column: auto;
  grid-row: auto;
}
.is-style-p-media-text.wp-block-media-text .wp-block-media-text__media img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
  height: auto;
}
.is-style-p-media-text.wp-block-media-text .wp-block-media-text__content {
  background-color: #f0e7db;
  max-width: 680px;
  width: auto;
  margin-top: 150px;
  margin-left: -245px;
  padding: 50px;
  align-self: end;
  grid-column: auto;
  grid-row: auto;
  /* tablet */
  /* SmartPhone */
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .is-style-p-media-text.wp-block-media-text .wp-block-media-text__content {
    margin-left: auto;
    margin-right: -5vw;
    margin-top: -10vw;
    width: 80vw;
  }
}
@media (max-width: 599px) {
  .is-style-p-media-text.wp-block-media-text .wp-block-media-text__content {
    margin-right: auto;
    margin-top: auto;
    width: auto;
    padding: 0px;
  }
}

.wp-block-gallery.columns-3.is-style-p-price-card ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .wp-block-gallery.columns-3.is-style-p-price-card ul {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
  }
}
.wp-block-gallery.columns-3.is-style-p-price-card ul .blocks-gallery-item {
  width: auto;
  height: auto;
}
.wp-block-gallery.columns-3.is-style-p-price-card ul figure {
  max-width: 400px;
  max-height: 315px;
  width: auto;
  height: auto;
  /* tablet */
  /* SmartPhone */
}
.wp-block-gallery.columns-3.is-style-p-price-card ul figure figcaption.blocks-gallery-item__caption {
  padding: 0px 10px 0px 0px;
}
@media (max-width: 1024px) {
  .wp-block-gallery.columns-3.is-style-p-price-card ul figure {
    width: 100%;
  }
}

.wp-block-columns.is-style-p-media-column {
  display: grid;
  grid-template-columns: 63% auto;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .wp-block-columns.is-style-p-media-column {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
  }
}
.wp-block-columns.is-style-p-media-column .wp-block-column:nth-child(2n) {
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .wp-block-columns.is-style-p-media-column .wp-block-column:nth-child(2n) {
    margin-left: 0px;
  }
}
.wp-block-columns.is-style-p-media-column .wp-block-image {
  text-align: center;
}
.wp-block-columns.is-style-p-media-column .wp-block-image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  height: auto;
}

.smf-progress-tracker {
  margin-top: 60px;
  padding-bottom: 40px;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 599px) {
  .wp-block-media-text__content {
    margin-top: 20px;
  }
}

.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media img {
  -o-object-fit: cover;
     object-fit: cover;
}

.smf-progress-tracker {
  margin: 5% 0;
}

.smf-item__label__text {
  color: #897c70;
  font-weight: bold;
  font-size: 1.6rem;
}

.smf-form .smf-item input[type=text].smf-text-control__control,
.smf-form .smf-item input[type=email].smf-text-control__control,
.smf-form .smf-item input[type=tel].smf-text-control__control,
.smf-form .smf-item select.smf-select-control__control,
.smf-form .smf-item textarea.smf-textarea-control__control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /*ブラウザ標準スタイルを無効にする*/
  border-color: #e0d7ca;
  padding: 10px 20px;
  color: #252525;
}
.smf-form .smf-item ::-moz-placeholder {
  color: #CDD6DD;
}
.smf-form .smf-item :-ms-input-placeholder {
  color: #CDD6DD;
}
.smf-form .smf-item ::placeholder {
  color: #CDD6DD;
}
.smf-form .smf-item textarea.smf-textarea-control__control {
  max-width: 740px;
}
.smf-form .smf-item select.smf-select-control__control {
  padding-right: 50px;
}
.smf-form .smf-item .smf-select-control .smf-select-control__toggle:before {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  right: 1em;
  border-bottom: 2px solid #98A6B5;
  border-right: 2px solid #98A6B5;
}
.smf-form .smf-item input[type=text].smf-text-control__control:focus,
.smf-form .smf-item input[type=email].smf-text-control__control:focus,
.smf-form .smf-item input[type=tel].smf-text-control__control:focus,
.smf-form .smf-item select.smf-select-control__control:focus,
.smf-form .smf-item textarea.smf-textarea-control__control:focus {
  border-color: #270B0B;
}
.smf-form .smf-item select.smf-select-control__control:focus + .smf-select-control__toggle:before {
  border-color: #98A6B5;
}
.smf-form .smf-item input[type=checkbox].smf-checkbox-control__control {
  width: 30px;
  height: 30px;
}
.smf-form .smf-item input[type=checkbox].smf-checkbox-control__control:before {
  width: 8px;
}

.smf-action .smf-button-control .smf-button-control__control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /*ブラウザ標準スタイルを無効にする*/
  background-image: none;
  display: block;
  /* tablet */
  /* SmartPhone */
}
@media (max-width: 1024px) {
  .smf-action .smf-button-control .smf-button-control__control {
    width: 300px;
  }
}

.wp-block-snow-monkey-forms-item .is-style-c-text {
  width: 300px;
}
.wp-block-snow-monkey-forms-item .is-style-c-text a {
  color: #252525;
  border-bottom: solid;
  border-color: #252525;
  border-width: 1px;
}
