@use "../../foundation/base.scss";
@use "../../foundation/variable.scss";
@use "../../foundation/mixin.scss";

.p-contents-card{
	background-color: variable.$background-color--content-card;
	overflow:hidden;
	height: 100%;
	padding: 10% 0;
	&__title{
		max-width: 640px;
		margin:0 auto 60px;
	}
	&__text{
		margin:0 8%;
	}
	&__image{
		height: 180px;
		margin-top:60px;
		overflow: hidden;
		img{
			width:min(100%,640px);
			height: 100%;
			object-fit: cover;
			margin: auto;
			display: block;
		}
	}
	&-column{
		display: flex;
		@include mixin.breakpoint( breakpoint-tab ){
			display: block;
		}
		.p-contents-card{
			width: 50%;
			@include mixin.breakpoint( breakpoint-tab ){
				width: 100%;
			}
			&:nth-of-type(2){
				background-color: rgba($color: variable.$background-color--content-card, $alpha: .9);
				transform: translateY(120px);
				@include mixin.breakpoint( breakpoint-tab ){
					transform: translateY(0px);
				}
			}
		}
	}
}
