@use "../../foundation/base";
@use "../../foundation/variable";
@use "../../foundation/mixin";

.u-margin-top{
	margin-top: 30px;
	// .c-title-small の下marginのレスポンシブ対応
	&--tab{
		@extend .u-margin-top;
		@include mixin.breakpoint( breakpoint-tab ){
			margin-top: 20px;
		}
	}
}
.u-margin-top--header{
	margin-top: 20px;
	display        : inline-block;
	color          : #000000;            /* 文字の色 */
	text-shadow    :
		2px  2px 0px #ffffff,
		-2px  2px 0px #ffffff,
		2px -2px 0px #ffffff,
		-2px -2px 0px #ffffff,
		2px  0px 0px #ffffff,
		0px  2px 0px #ffffff,
		-2px  0px 0px #ffffff,
		0px -2px 0px #ffffff;
}
.u-margin-top--small{
	margin-top: 20px;
}
.u-margin-top--large{
	margin-top: 60px;
}
.u-margin-top--urushi-content{
	margin-top: 200px;
	@include mixin.breakpoint( breakpoint-tab ){
		margin-top: 120px;
	}
}
.u-margin--small{
	margin-bottom:70px;
}
.u-margin-bottom{
	margin-bottom :30px;
}
.u-margin-bottom--medium{
	margin-bottom :100px;
}
.u-margin-bottom--large{
	margin-bottom :200px;
}
.u-margin-left--auto{
	margin-left: auto;
}
