@use "../../foundation/base";
@use "../../foundation/mixin";
@use "../../foundation/variable";

.c-tab {
	display: inline-block;
	background-color: #fff;
	text-decoration: none;
	color: black;
	border: 2px solid #e0d7ca;
	border-radius: 30px;
	padding: 8px 10px;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	line-height: 1;
}
