<div class="c-textbox--main">
	<h2 class="c-title-small">受け継がれる金継ぎ</h2>
<<<<<<< HEAD
	<p class="c-text">漆での修復は、縄文土器にもみられ、室町時代から続く金継ぎの技法は今まで受け継がれてきました。<br>現代では芸術的価値も見出され、高価なものだけてなく、お子様が作ったものや、大切な日の記念品、大切な人からのプレゼントなど、皆さまのかけがえのない思い出と、受け継がれてきた技法をずっと残していきたいという気持ちで金継ぎをしています。</p>
=======
	<p class="c-text u-margin-top">漆での修復は、縄文土器にもみられ、室町時代から続く金継ぎの技法は今まで受け継がれてきました。<br>現代では芸術的価値も見出され、高価なものだけてなく、お子様が作ったものや、大切な日の記念品、大切な人からのプレゼントなど、皆さまのかけがえのない思い出と、受け継がれてきた技法をずっと残していきたいという気持ちで金継ぎをしています。</p>
>>>>>>> 1edccd72599886125a6aee38d833b58f922c4931
</div>
<br><br>
<div class="c-textbox--sub">
	<p class="c-text--white">昔は当たり前だった生活が今ではなかなか難しく、そんな生活に憧れを持っている人が増えてきたと感じています。<br>食卓に並ぶ漆の器や箸、漆の花器に飾られた花など、生活の中に馴染む天然素材のものにぬくもりを感じ、より豊かな生活を送りませんか。</p>
</div>
