@use "../foundation/base";
@use "../foundation/mixin";
@use "../foundation/variable";

/* メインコンテンツのスタイリング */
.l-main{
	padding-top:200px;
	padding-bottom:200px;
}
.l-main--about{
	margin-top: 478px;
}
.l-main--information{
	margin-top: 60px;
}
