@use "../foundation/base";
@use "../foundation/mixin";
@use "../foundation/variable";

/* メインコンテンツのスタイリング */
.l-main{
	padding: 140px 6% 200px;
}
.l-main--about{
	margin-top: 478px;
}
.l-main--information{
	margin-top: 60px;
}
