<ul class="c-grid--col4">
	<li class="c-grid--col4__item">
		<figure class="p-product-card">
			<img class="p-product-card__image" src="https://placehold.jp/280x280.png" alt="画像です">
			<figcaption class="p-product-card__text">
				<dl class="c-definition--figcaption">
					<dt class="c-definition--figcaption__term">タイトルが入ります</dt>
					<dd class="c-definition--figcaption__description">
						説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
					</dd>
				</dl>
			</figcaption>
		</figure>
	</li>
	<li class="c-grid--col4__item">
		<figure class="p-product-card">
			<img class="p-product-card__image" src="https://placehold.jp/280x280.png" alt="画像です">
			<figcaption class="p-product-card__text">
				<dl class="c-definition--figcaption">
					<dt class="c-definition--figcaption__term">タイトルが入ります</dt>
					<dd class="c-definition--figcaption__description">
						説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
					</dd>
				</dl>
			</figcaption>
		</figure>
	</li>
	<li class="c-grid--col4__item">
		<figure class="p-product-card">
			<img class="p-product-card__image" src="https://placehold.jp/280x280.png" alt="画像です">
			<figcaption class="p-product-card__text">
				<dl class="c-definition--figcaption">
					<dt class="c-definition--figcaption__term">タイトルが入ります</dt>
					<dd class="c-definition--figcaption__description">
						説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
					</dd>
				</dl>
			</figcaption>
		</figure>
	</li>
	<li class="c-grid--col4__item">
		<figure class="p-product-card">
			<img class="p-product-card__image" src="https://placehold.jp/280x280.png" alt="画像です">
			<figcaption class="p-product-card__text">
				<dl class="c-definition--figcaption">
					<dt class="c-definition--figcaption__term">タイトルが入ります</dt>
					<dd class="c-definition--figcaption__description">
						説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
					</dd>
				</dl>
			</figcaption>
		</figure>
	</li>
	<li class="c-grid--col4__item">
		<figure class="p-product-card">
			<img class="p-product-card__image" src="https://placehold.jp/280x280.png" alt="画像です">
			<figcaption class="p-product-card__text">
				<dl class="c-definition--figcaption">
					<dt class="c-definition--figcaption__term">タイトルが入ります</dt>
					<dd class="c-definition--figcaption__description">
						説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
					</dd>
				</dl>
			</figcaption>
		</figure>
	</li>
	<li class="c-grid--col4__item">
		<figure class="p-product-card">
			<img class="p-product-card__image" src="https://placehold.jp/280x280.png" alt="画像です">
			<figcaption class="p-product-card__text">
				<dl class="c-definition--figcaption">
					<dt class="c-definition--figcaption__term">タイトルが入ります</dt>
					<dd class="c-definition--figcaption__description">
						説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
					</dd>
				</dl>
			</figcaption>
		</figure>
	</li>
	<li class="c-grid--col4__item">
		<figure class="p-product-card">
			<img class="p-product-card__image" src="https://placehold.jp/280x280.png" alt="画像です">
			<figcaption class="p-product-card__text">
				<dl class="c-definition--figcaption">
					<dt class="c-definition--figcaption__term">タイトルが入ります</dt>
					<dd class="c-definition--figcaption__description">
						説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
					</dd>
				</dl>
			</figcaption>
		</figure>
	</li>
	<li class="c-grid--col4__item">
		<figure class="p-product-card">
			<img class="p-product-card__image" src="https://placehold.jp/280x280.png" alt="画像です">
			<figcaption class="p-product-card__text">
				<dl class="c-definition--figcaption">
					<dt class="c-definition--figcaption__term">タイトルが入ります</dt>
					<dd class="c-definition--figcaption__description">
						説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。
					</dd>
				</dl>
			</figcaption>
		</figure>
	</li>
</ul>
