@forward './style.scss';
@use './foundation/variable';

//カスタムブロック 背景付きテキスト/画像
.wp-block-create-block-background-text.is-style-background-02{
	background-color: rgba(33,12,2,0.9);
}

//見出し
.is-style-c-title-large{
	@extend .c-title-large;
}

.is-style-c-title-small{
	@extend .c-title-small;
}

.is-style-c-title-small--center{
	@extend .c-title-small--center;
}

.is-style-c-title-noborder{
	@extend .c-title-noborder;
}

//段落
.is-style-c-text{
	@extend .c-text;
}
.is-style-c-text--large{
	@extend .c-text--large;
}
.is-style-c-text--white{
	@extend .c-text--white;
}

//グループ 階段
.is-style-p-contents-card-column{
	.wp-block-group__inner-container{
		@extend .p-contents-card-column;
	}
}

//お問い合わせフォーム
.smf-item{
	&__label__text{
		color:variable.$font-color--third;
		font-weight: bold;
		font-size: 1.6rem;
	}
}
.smf-form .smf-item {
	input[type="text"].smf-text-control__control,
	input[type="email"].smf-text-control__control,
	input[type="tel"].smf-text-control__control,
	select.smf-select-control__control,
	textarea.smf-textarea-control__control{
		appearance: none; /*ブラウザ標準スタイルを無効にする*/
		border-color:#E0D7CA;
		padding: 10px 20px;
	}
}
.smf-action .smf-button-control .smf-button-control__control{
	appearance: none; /*ブラウザ標準スタイルを無効にする*/
	@extend .c-button--primary;
	background-image:none;

}
