@use "../../foundation/base.scss";
@use "../../foundation/variable.scss";
@use "../../foundation/mixin.scss";

.c-background-icon{
	&__left{
		&--cloisonne{
			transform: translateX(-35px);
			width: 600px;
			height: 250px;
			background:url("../production/images/monyou01.png") center;
			@include mixin.breakpoint( breakpoint-sp ){
				transform: translateX(0px);
			}
		}
		&--gentian{
			@extend .c-background-icon__left--cloisonne;
			background:url("../production/images/monyou02.png") center;
		}
	}
	&__right{
		&--cloisonne{
			margin: 0 0 0 auto;
			width: 600px;
			height: 250px;
			background:url("../production/images/monyou01.png") center;
			@include mixin.breakpoint( breakpoint-tab ){
				height: 350px;
				width: 865px;
			}
			@include mixin.breakpoint( breakpoint-sp ){
				width: 100%;
			}
		}
		&--gentian{
			@extend .c-background-icon__right--cloisonne;
			background:url("../production/images/monyou02.png") center;
		}
	}

}
