@use "../../foundation/base";
@use "../../foundation/variable";
@use "../../foundation/mixin";

// .c-pattern{
// 	position: relative;
// 	width: 980px;
// 	height: 380px;
// 	margin-top: 30px;
// 	@include mixin.breakpoint( breakpoint-tab ){
// 		width: 100%;
// 		height: 310px;
// 	}
// 	@include mixin.breakpoint( breakpoint-sp ){
// 		height: 180px;
// 	}
// 	&__image{
// 		width: 100%;
// 		height: 100%;
// 		object-fit: cover;
// 	}
// 	&__layer{
// 		position: absolute;
// 		object-fit: cover;
// 		top: 0px;
// 		z-index: 1;
// 		width: 621px;
// 		height: 488px;
// 		@include mixin.breakpoint( breakpoint-tab ){
// 			top:140px;
// 			width: 437px;
// 			height: 350px;
// 		}
// 		@include mixin.breakpoint( breakpoint-sp ){
// 			display: none;
// 		}
// 		&--left{
// 			@extend .c-pattern__layer;
// 			left: -300px;
// 		}
// 		&--right{
// 			@extend .c-pattern__layer;
// 			right: -300px;
// 		}
// 	}
// }

// ここから下、リファクタリング

.c-pattern{
	position: relative;
	max-width: 100%;
	height: auto;
	// margin-left: 500px;
	&--lower-left{
		@extend .c-pattern;
		&::after{
			content: "";
			width: 100%;
			height: 100%;
			background-image: url("../components/raw/pattern/monyou-pc01.png");
			position: absolute;
			top: 300px;
			left: -350px;
			@include mixin.breakpoint( breakpoint-tab ){
				background-image: url("../components/raw/pattern/monyou-tab01.png");
				width: 615px;
				top: 75px;
				left: 0;
			}
			@include mixin.breakpoint( breakpoint-sp ){
				background-image: url("../components/raw/pattern/monyou-sp01.png");
				width: 375px;
				top: 253px;
			}
		}
		&__image{
			width: 800px;
			object-fit: cover;
			@include mixin.breakpoint( breakpoint-tab ){
				width: 615px;
				// height: 310px;
			}
			@include mixin.breakpoint( breakpoint-sp ){
				width: 375px;
				height: 387px;
			}
		}
	}
	&--lower-left--nonsp{
		@extend .c-pattern;
		&::after{
			content: "";
			width: 100%;
			height: 130%;	// 画像がズレた分の調整
			background-image: url("../components/raw/pattern/monyou-pc02.png");
			position: absolute;
			top: 100px;
			left: -609px;
			@include mixin.breakpoint( breakpoint-tab ){
				height: 97%;	// 高さが12px大きくなるので調整
				background-image: url("../components/raw/pattern/monyou-tab02.png");
				background-position: left bottom;
				background-size: 80%;	// 見た目でこの値に…。
				top: 0;
				left: 0;
			}
			@include mixin.breakpoint( breakpoint-sp ){
				display: none;
			}
		}
		&__image{
			width: 980px;
			object-fit: cover;
			@include mixin.breakpoint( breakpoint-tab ){
				width: 100%;
			}
		}
	}
	&--right{
		@extend .c-pattern;
		&::after{
			content: "";
			width: 100%;
			height: 130%;	// 画像がズレた分の調整
			background-image: url("../components/raw/pattern/monyou-pc03.png");
			position: absolute;
			left: 679px;
			@include mixin.breakpoint( breakpoint-tab ){
				height: 97%;	// 高さが12px大きくなるので調整
				background-image: url("../components/raw/pattern/monyou-tab03.png");
				background-position: right;
				background-size: 38%;	// 見た目でこの値に…。
				// width: 384px;
				// top: auto;
				// bottom: 0;
				// left: 531px;
				left: 0;
			}
			@include mixin.breakpoint( breakpoint-sp ){
				display: none;
			}
		}
		&__image{
			width: 980px;
			object-fit: cover;
			@include mixin.breakpoint( breakpoint-tab ){
				width: 100%;
			}
		}
	}
	&--left{
		@extend .c-pattern;
		&::after {
			content: "";
			width: 100%;
			height: 130%;	// 画像がズレた分の調整
			background-image: url("../components/raw/pattern/monyou-pc03.png");
			position: absolute;
			left: -320px;
			@include mixin.breakpoint( breakpoint-tab ){
				height: 97%;	// 高さが12px大きくなるので調整
				background-image: url("../components/raw/pattern/monyou-tab04.png");
				background-position: left;
				background-size: 38%;	// 見た目でこの値に…。
				// width: 384px;
				// top: 0;
				// bottom: 0;
				left: 0;
			}
			@include mixin.breakpoint( breakpoint-sp ){
				display: none;
			}
		}
		&__image{
			width: 980px;
			object-fit: cover;
			@include mixin.breakpoint( breakpoint-tab ){
				// width: 834px;
				width: 100%;
			}
		}
	}
}
